
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bosh Sahifa | Bordo</title>
{% endblock title %}
{% load humanize %}
{% block css %}
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'assets/css/tables/table-basic.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <style>
        table {
           width: 100%;
           border-collapse: collapse;
           text-align: center;
           font-family: Arial, sans-serif;
       }
       th, td {
           border: 1px solid black  !important;
           padding: 8px;
           
       }
       th {
            background-color: blue !important;
            color: white !important;
        }
   </style>
      <style>
         .tab {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 10px;
            gap: 20px; 
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
        }
        .tab button {
            background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease;
        }
        .tab button.active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }
        .tab button:hover {
            color: #0056b3;
        }
        .document {
            display: none;
        }
    </style>
{% endblock css %}
{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div id="content" class="main-content">
            <div class="container">
                    <div class="row layout-top-spacing" style="width: 100%;">
                        <div class="col-lg-12">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="tab">
                                            <!-- <button onclick="switchTab(event)" data-url="/money_circulation/">
                                                <a href="{% url 'money_circulation' %}" style="font-weight: bold; color: black;">Manba</a>
                                            </button> -->
                                            <button onclick="switchTab(event)" data-url="/kassa_fin/">
                                                <a href="{% url 'kassa_fin' %}" style="font-weight: bold; color: black;">Kassa</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/data_fin/">
                                                <a href="{% url 'data_fin' %}" style="font-weight: bold; color: black;">Data</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/debet_kredit_fin/">
                                                <a href="{% url 'debet_kredit_fin' %}" style="color: black !important;">Debet-Kredit</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/cf_fin/">
                                                <a href="{% url 'cf_fin' %}" style="color: black !important;">CF</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/daily_cf_fin/">
                                                <a href="{% url 'daily_cf_fin' %}" style="color: black !important;">Daily CF</a></button>
                                            <button onclick="switchTab(event)" data-url="/xarid_fin/">
                                                <a href="{% url 'xarid_fin' %}" style="color: black !important;">Xarid</a></button>
                                            <button onclick="switchTab(event)" data-url="/sotuv_fin/">
                                                <a href="{% url 'sotuv_fin' %}" style="color: black !important;">Sotuv</a></button>
                                            <button onclick="switchTab(event)" data-url="/pl_fin/">
                                                <a href="{% url 'pl_fin' %}" style="color: black !important;">P/L</a></button>
                                            <button onclick="switchTab(event)" data-url="/balans_fin/">
                                                <a href="{% url 'balans_fin' %}" style="color: black !important;">Balans</a></button>
                                            <button onclick="switchTab(event)" data-url="/majburiyat_fin/">
                                                <a href="{% url 'majburiyat_fin' %}" style="color: black !important;">Majburiyat</a></button>
                                            <button onclick="switchTab(event)" data-url="/tolov_kalendar_fin/">
                                                <a href="{% url 'tolov_kalendar_fin' %}" style="color: black !important;">Tolov Kalendari</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_tushum_fin/">
                                                <a href="{% url 'reja_tushum_fin' %}" style="color: black !important;">Reja Tushum</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_chiqim_fin/">
                                                <a href="{% url 'reja_chiqim_fin' %}" style="color: black !important;">Reja Chiqim</a></button>
                                            <button onclick="switchTab(event)" data-url="/asosiy_vosita_fin/">
                                                <a href="{% url 'asosiy_vosita_fin' %}" style="color: black !important;">Asosiy Vosita</a></button>
                                            <button onclick="switchTab(event)" data-url="/ombor_fin/">
                                                <a href="{% url 'ombor_fin' %}" style="color: black !important;">Sklad</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 layout-spacing">
                            <form method="get">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <br>
                                        <p></p>
                                        <input type="number" class="form-control" name="year" value="{{ year }}">
                                    </div>
                                    <div class="col-md-1">
                                         <br>
                                        <p></p>
                                        <button type="submit" class="btn btn-primary" style="height: 40px;">Filter</button>
                                    </div>
                                    <div class="col-md-1">
                                        <br>
                                        <p></p>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="height: 40px;">Qoshish</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4" id="example122">
                                                <thead>
                                                    <tr>
                                                        <th>Asosiy vosita va investitsiyalar nomi</th>
                                                        <th>Инвентар номер</th>
                                                        <th>Количество</th>
                                                        <th>Ед <br> измерения</th>
                                                        <th>Сумма</th>
                                                        <th>Общий сумма</th>
                                                        <th>Toplangan <br> eskirish </th>
                                                        <th>Bugungi <br> qoldiq </th>
                                                        <th>Foydalanish <br> oyi </th>
                                                        <th>Oylik <br> Eskirish summasi </th>
                                                        <th>Tahrirlash</th>
                                                        {% for mon in months %}
                                                        <th>{{mon}}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    {% for main in main_tool %}
                                                        <tr>
                                                            <td>{{main.name}}</td>
                                                            <td>{{main.inventory_number}}</td>
                                                            <td>{{main.quantity}}</td>
                                                            <td>{{main.tool_type.name}}</td>
                                                            <td>{{main.summa|intcomma}}</td>
                                                            <td style="background-color: blue ; color: white !important;">{{main.summa|intcomma}}</td>
                                                            <td style="background-color: blue ; color: white !important;">{{ main.sum_wear_month_summa|intcomma  }}</td>
                                                            <td style="background-color: blue ; color: white !important;">{{ main.sum_today_stayed|intcomma }}</td>
                                                            <td>{{ main.use_month }}</td>
                                                            <td style="background-color: blue ; color: white !important;">{{ main.wear_month_summa|intcomma }}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalEdit{{main.id}} " data-whatever="@getbootstrap" style="height: 40px;"><i class="fa-solid fa-pen-to-square"></i></button>
                                                            </td>
                                                            {% for mon in months %}
                                                                {% for x in main.month %}
                                                                    {% if x.month == mon %}
                                                                        <td>{{x.sum|intcomma}}</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </tr>
                                                        <div class="modal fade" id="exampleModalEdit{{main.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content" style="width: 700px;">
                                                                    <div class="modal-body">
                                                                        <form method="post" action="{% url 'edit_main_tool' main.id %}" >
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label  class="col-form-label">Nomi:</label>
                                                                                            <input type="text" class="form-control"  value="{{ main.name }}" name="name" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-number" class="col-form-label">Inventar raqami:</label>
                                                                                            <input type="number" class="form-control" id="recipient-number" value="{{ main.inventory_number }}" name="number" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-quantity" class="col-form-label">Miqdori:</label>
                                                                                            <input type="number" class="form-control" id="recipient-quantity" value="{{ main.quantity }}" name="quantity" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label  class="col-form-label">O'lchov birligi:</label>
                                                                                            <select name="tool_type" class="form-control searchable" required>
                                                                                                <option value="">-------------</option>
                                                                                                    {% for i in main_tool_type %}
                                                                                                        <option value="{{ i.id }}" {% if i == main.tool_type %} selected {% endif %} >{{ i.name }}</option>
                                                                                                    {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-summa" class="col-form-label">Summa:</label>
                                                                                            <input type="number" class="form-control" id="recipient-summa" value="{{ main.summa|floatformat:'0' }}" name="summa" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-use_month" class="col-form-label">Foydalanish oyi:</label>
                                                                                            <input type="number" class="form-control" id="recipient-use_month" value="{{ main.use_month }}" name="use_month" required>
                                                                                        </div>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                                                                <button type="submit" class="btn btn-success" >Saqlash</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor  %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-body">
                    <form method="post" action="{% url 'add_main_tool' %}" >
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label  class="col-form-label">Nomi:</label>
                                        <input type="text" class="form-control"  name="name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-number" class="col-form-label">Inventar raqami:</label>
                                        <input type="number" class="form-control" id="recipient-number" name="number" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-quantity" class="col-form-label">Miqdori:</label>
                                        <input type="number" class="form-control" id="recipient-quantity" name="quantity" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-9">
                                             <div class="form-group">
                                                <label for="recipient-main_tool_type" class="col-form-label">O'lchov birligi:</label>
                                                <select name="tool_type" id="recipient-main_tool_type" class="form-control searchable" required>
                                                    <option value="">-------------</option>
                                                        {% for i in main_tool_type %}
                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br>
                                            <p></p>
                                            <p></p>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalUnits" onclick="SaveType()" data-whatever="@getbootstrap" style="height: 40px;">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-summa" class="col-form-label">Summa:</label>
                                        <input type="number" class="form-control" id="recipient-summa" name="summa" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-use_month" class="col-form-label">Foydalanish oyi:</label>
                                        <input type="number" class="form-control" id="recipient-use_month" name="use_month" required>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                            <button type="submit" class="btn btn-success" >Saqlash</button>
                        </div>
                    </form>
                    <script>
                        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                        const exampleModal = document.getElementById('exampleModal')
                        const exampleModalUnits = document.getElementById('exampleModalUnits')
                        const name = document.getElementById('recipient-name')
                        function SaveType() {
                            exampleModal.style.display = 'none'; 
                            exampleModalUnits.show.modal
                        }
                        function pushBackend(){

                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalUnits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content" style="width: 700px;">
                 <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">O'lchov birligi Qoshish</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                 <div class="modal-body">
                     <form method="post">
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">
                                     <label for="recipient-name" class="col-form-label">Nomi:</label>
                                     <input type="text" class="form-control" id="recipient-name" name="name" required>
                                 </div>
                             </div>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                             <button type="submit" class="btn btn-success"  onclick="pushBackend()" >Saqlash</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
{% endblock content %}
{% block js %}
<script>
    document.querySelectorAll('.tab button').forEach(btn => btn.classList.remove('active'));

    const pathname = window.location.pathname;
    document.querySelectorAll('.tab button').forEach(btn => {
        const url = btn.getAttribute('data-url');
        if (url === pathname) {
            btn.classList.add('active');
        }
    });
</script>  
{% endblock js %}
