
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bosh Sahifa </title>
{% endblock title %}
{% load humanize %}
{% block css %}
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'assets/css/tables/table-basic.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
        }
        td, th{
            border: 1px solid black  !important;
            padding: 8px;
            
        }
        th {
            color: white !important;
            text-align: center;
        }
        td {
            text-align: center;
        }
    </style>
    <style>
         .tab {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 10px;
            gap: 20px; 
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
        }
        .tab button {
            background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease;
        }
        .tab button.active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }
        .tab button:hover {
            color: #0056b3;
        }
        .document {
            display: none;
        }
    </style>
{% endblock css %}
{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div id="content" class="main-content">
            <div class="container">
                    <div class="row layout-top-spacing" style="width: 100%;">
                        <div class="col-lg-12">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="tab">
                                            <!-- <button onclick="switchTab(event)" data-url="/money_circulation/">
                                                <a href="{% url 'money_circulation' %}" style="font-weight: bold; color: black;">Manba</a>
                                            </button> -->
                                            <button onclick="switchTab(event)" data-url="/kassa_fin/">
                                                <a href="{% url 'kassa_fin' %}" style="font-weight: bold; color: black;">Kassa</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/data_fin/">
                                                <a href="{% url 'data_fin' %}" style="font-weight: bold; color: black;">Data</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/debet_kredit_fin/">
                                                <a href="{% url 'debet_kredit_fin' %}" style="color: black !important;">Debet-Kredit</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/cf_fin/">
                                                <a href="{% url 'cf_fin' %}" style="color: black !important;">CF</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/daily_cf_fin/">
                                                <a href="{% url 'daily_cf_fin' %}" style="color: black !important;">Daily CF</a></button>
                                            <button onclick="switchTab(event)" data-url="/xarid_fin/">
                                                <a href="{% url 'xarid_fin' %}" style="color: black !important;">Xarid</a></button>
                                            <button onclick="switchTab(event)" data-url="/sotuv_fin/">
                                                <a href="{% url 'sotuv_fin' %}" style="color: black !important;">Sotuv</a></button>
                                            <button onclick="switchTab(event)" data-url="/pl_fin/">
                                                <a href="{% url 'pl_fin' %}" style="color: black !important;">P/L</a></button>
                                            <button onclick="switchTab(event)" data-url="/balans_fin/">
                                                <a href="{% url 'balans_fin' %}" style="color: black !important;">Balans</a></button>
                                            <button onclick="switchTab(event)" data-url="/majburiyat_fin/">
                                                <a href="{% url 'majburiyat_fin' %}" style="color: black !important;">Majburiyat</a></button>
                                            <button onclick="switchTab(event)" data-url="/tolov_kalendar_fin/">
                                                <a href="{% url 'tolov_kalendar_fin' %}" style="color: black !important;">Tolov Kalendari</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_tushum_fin/">
                                                <a href="{% url 'reja_tushum_fin' %}" style="color: black !important;">Reja Tushum</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_chiqim_fin/">
                                                <a href="{% url 'reja_chiqim_fin' %}" style="color: black !important;">Reja Chiqim</a></button>
                                            <button onclick="switchTab(event)" data-url="/asosiy_vosita_fin/">
                                                <a href="{% url 'asosiy_vosita_fin' %}" style="color: black !important;">Asosiy Vosita</a></button>
                                            <button onclick="switchTab(event)" data-url="/ombor_fin/">
                                                <a href="{% url 'ombor_fin' %}" style="color: black !important;">Sklad</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 layout-spacing">
                            <div class="row">
                                <div class="col-md-10"></div>
                                   <div class="col-md-2">
                                        <br>
                                        <p></p>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="height: 40px;">Qoshish</button>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4" id="example122">
                                                <thead>
                                                    <tr style="background-color: red;">
                                                        <th style="width: 60px;">Hisoblangan<br>summa</th>
                                                        <th >Manba</th>
                                                        <th >Qaysi oy uchun</th>
                                                        <th >Oy</th>
                                                        <th>Yil</th>
                                                        <th>Status</th>
                                                        <th>Izoh</th>
                                                        <th>Bajarish</th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    {% for i in reja %}
                                                    <tr>
                                                        <td>{{ i.plan_total|intcomma }}</td>
                                                        <td>{{ i.kassa.name }}</td>
                                                        <td>{{ i.get_qaysi_oy_display }}</td>
                                                        <td style="text-align: center;">{{ i.date|date:'m' }}</td>
                                                        <td style="text-align: center;">{{ i.date|date:'y' }}</td>
                                                        <td>
                                                                {% if i.is_confirmed %}
                                                                <i class="fa-solid fa-check"></i>
                                                                {% else %}
                                                                <i class="fa-solid fa-x"></i>
                                                                {% endif %}
                                                            </td>
                                                        <td>{{ i.comment }}</td>
                                                       <td>
                                                                {% if i.is_chiqim >= i.plan_total %}
                                                                {% else %}
                                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalBajarish{{ i.id }}" data-whatever="@getbootstrap" >Bajarish</button>
                                                                {% endif %}
                                                        </td>
                                                    </tr>
                                                          <div class="modal fade" id="exampleModalBajarish{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-body">
                                                                   <form method="post" action="{% url 'reja_chiqim_bajarish' i.id %}" >
                                                                            {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label for="recipient-plan_total" class="col-form-label">Rejadagi Summa: </label>
                                                                                    <input type="number" class="form-control" id="recipient-plan_total" name="plan_total" min="0" max="{{i.chiqim_sum}}" value="{{ i.plan_total }}" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label for="recipient-kurs" class="col-form-label">Kurs: </label>
                                                                                    <input type="number" class="form-control" id="recipient-kurs" name="kurs" value="{{ i.kurs }}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-kassa" class="col-form-label">Kassa:</label>
                                                                                            <select name="kassa" class="form-control searchable" required>
                                                                                                <option value="">-------------</option>
                                                                                                    {% for kassa in kassa %}
                                                                                                        <option value="{{ kassa.id }}"  {% if kassa == i.kassa %} selected {% endif %} >{{ kassa.name }}</option>
                                                                                                    {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-money_circulation" class="col-form-label">Pul Muomalasi:</label>
                                                                                            <select name="money_circulation" id="recipient-money_circulation" class="form-control searchable" required>
                                                                                                <option value="">-------------</option>
                                                                                                    {% for money_circulation in money_circulation %}
                                                                                                    <option value="{{ money_circulation.id }}"  {% if money_circulation == i.money_circulation %} selected {% endif %} >{{ money_circulation.name }}</option>
                                                                                                    {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label for="recipient-valyuta" class="col-form-label">Valyuta:</label>
                                                                                            <select name="valyuta" id="recipient-valyuta" class="form-control searchable" required>
                                                                                                <option value="">-------------</option>
                                                                                                    {% for valyuta in valyuta %}
                                                                                                    <option value="{{ valyuta.id }}" {% if valyuta == i.valyuta %} selected {% endif %} >{{ valyuta.name }}</option>
                                                                                                    {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                            </div>
                                                                         </div>
                                                                         <div class="form-group">
                                                                             <label for="message-comment" class="col-form-label">Text:</label>
                                                                             <textarea class="form-control" id="message-comment" name="comment" >{{ i.comment }}</textarea>
                                                                         </div>
                                                                         <div class="modal-footer">
                                                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                                                             <button type="submit" class="btn btn-success" >Saqlash</button>
                                                                         </div>
                                                                    </form>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4" id="example122">
                                                <thead>
                                                    <tr style="background-color: orange !important;">
                                                        <th></th>
                                                        <th>FAKT BO'YICHA</th>
                                                        <th>Oy</th>
                                                        <th>Yil</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    {% for i in reja_conf %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ i.is_chiqim|intcomma }}</td>
                                                        <td>{{ i.date|date:'m' }}</td>
                                                        <td>{{ i.date|date:'Y' }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="width: 700px;">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Majburiyat</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'majburiyat_chiqim_fin_add' %}" >
                                            {% csrf_token %}
                                            
                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-date" class="col-form-label">Sana:</label>
                                                            <input type="date" class="form-control"  name="date" required value="{{ today|date:'Y-m-d' }}">
                                                        </div>
                                                    </div>
                                                     <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-deadline" class="col-form-label">Yakuniy Sana:</label>
                                                            <input type="date" class="form-control"  name="deadline" required value="{{ today|date:'Y-m-d' }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-plan_total" class="col-form-label">Summa: </label>
                                                            <input type="number" class="form-control" id="recipient-plan_total" name="plan_total">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-where" class="col-form-label">Qayerga: </label>
                                                            <input type="text" class="form-control" name="where">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-kurs" class="col-form-label">Kurs: </label>
                                                            <input type="number" class="form-control" id="recipient-kurs" name="kurs" value="{{kurs}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-kassa" class="col-form-label">Kassa:</label>
                                                            <select name="kassa"  class="form-control searchable" required>
                                                                <option value="">-------------</option>
                                                                    {% for i in kassa %}
                                                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-money_circulation" class="col-form-label">Pul Muomalasi:</label>
                                                            <select name="money_circulation" id="recipient-money_circulation" class="form-control searchable" required>
                                                                <option value="">-------------</option>
                                                                    {% for i in money_circulation %}
                                                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-valyuta" class="col-form-label">Valyuta:</label>
                                                            <select name="valyuta" id="recipient-valyuta" class="form-control searchable" required>
                                                                <option value="">-------------</option>
                                                                    {% for valyuta in valyuta %}
                                                                    <option value="{{ valyuta.id }}">{{ valyuta.name }}</option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="recipient-shop" class="col-form-label">Masul shaxs:</label>
                                                            <select name="user_profile" id="recipient-shop" class="form-control searchable" required>
                                                                <option value="">-------------</option>
                                                                    {% for i in user_profile %}
                                                                    <option value="{{ i.id }}" {% if i.user == request.user %} selected {% endif %} >{{ i.username }} - {{i.first_name|default_if_none:''}} </option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                            </div>
                                            <div class="form-group">
                                                <label for="message-comment" class="col-form-label">Text:</label>
                                                <textarea class="form-control" id="message-comment" name="comment"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                                <button type="submit" class="btn btn-success" >Saqlash</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
    </div>
        
{% endblock content %}
{% block js %}
<script>
    document.querySelectorAll('.tab button').forEach(btn => btn.classList.remove('active'));

    const pathname = window.location.pathname;
    document.querySelectorAll('.tab button').forEach(btn => {
        const url = btn.getAttribute('data-url');
        if (url === pathname) {
            btn.classList.add('active');
        }
    });
</script>   
{% endblock js %}
