
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bosh Sahifa | Bordo</title>
{% endblock title %}
{% load humanize %}
{% block css %}
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'assets/css/tables/table-basic.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
        }
        th{
            border: 1px solid black  !important;
            padding: 8px;
            
        }
        th {
            text-align: center;
        }
        .silver-class {
            background-color: rgb(109, 108, 108);
            color: white !important;
        }
    </style>
    <style>
        .header-row {
            background-color: #0056b3 !important;
            color: white !important;
        }
        .header-row td {
            color: white !important;
        }
    </style>
      <style>
          .tab {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 10px;
            gap: 20px; 
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
        }
        .tab button {
            background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease;
        }
        .tab button.active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }
        .tab button:hover {
            color: #0056b3;
        }
        .document {
            display: none;
        }
    </style>
{% endblock css %}
{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div id="content" class="main-content">
            <div class="container">
                    <div class="row layout-top-spacing" style="width: 100%;">
                        <div class="col-lg-12">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="tab">
                                            <!-- <button onclick="switchTab(event)" data-url="/money_circulation/">
                                                <a href="{% url 'money_circulation' %}" style="font-weight: bold; color: black;">Manba</a>
                                            </button> -->
                                            <button onclick="switchTab(event)" data-url="/kassa_fin/">
                                                <a href="{% url 'kassa_fin' %}" style="font-weight: bold; color: black;">Kassa</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/data_fin/">
                                                <a href="{% url 'data_fin' %}" style="font-weight: bold; color: black;">Data</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/debet_kredit_fin/">
                                                <a href="{% url 'debet_kredit_fin' %}" style="color: black !important;">Debet-Kredit</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/cf_fin/">
                                                <a href="{% url 'cf_fin' %}" style="color: black !important;">CF</a>
                                            </button>
                                            <button onclick="switchTab(event)" data-url="/daily_cf_fin/">
                                                <a href="{% url 'daily_cf_fin' %}" style="color: black !important;">Daily CF</a></button>
                                            <button onclick="switchTab(event)" data-url="/xarid_fin/">
                                                <a href="{% url 'xarid_fin' %}" style="color: black !important;">Xarid</a></button>
                                            <button onclick="switchTab(event)" data-url="/sotuv_fin/">
                                                <a href="{% url 'sotuv_fin' %}" style="color: black !important;">Sotuv</a></button>
                                            <button onclick="switchTab(event)" data-url="/pl_fin/">
                                                <a href="{% url 'pl_fin' %}" style="color: black !important;">P/L</a></button>
                                            <button onclick="switchTab(event)" data-url="/balans_fin/">
                                                <a href="{% url 'balans_fin' %}" style="color: black !important;">Balans</a></button>
                                            <button onclick="switchTab(event)" data-url="/majburiyat_fin/">
                                                <a href="{% url 'majburiyat_fin' %}" style="color: black !important;">Majburiyat</a></button>
                                            <button onclick="switchTab(event)" data-url="/tolov_kalendar_fin/">
                                                <a href="{% url 'tolov_kalendar_fin' %}" style="color: black !important;">Tolov Kalendari</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_tushum_fin/">
                                                <a href="{% url 'reja_tushum_fin' %}" style="color: black !important;">Reja Tushum</a></button>
                                            <button onclick="switchTab(event)" data-url="/reja_chiqim_fin/">
                                                <a href="{% url 'reja_chiqim_fin' %}" style="color: black !important;">Reja Chiqim</a></button>
                                            <button onclick="switchTab(event)" data-url="/asosiy_vosita_fin/">
                                                <a href="{% url 'asosiy_vosita_fin' %}" style="color: black !important;">Asosiy Vosita</a></button>
                                            <button onclick="switchTab(event)" data-url="/ombor_fin/">
                                                <a href="{% url 'ombor_fin' %}" style="color: black !important;">Sklad</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-12 layout-spacing">
                            <form method="get">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-2">
                                        <label for="" style="color: black !important; font-weight: bold;">Oy</label>
                                        <select name="month" class="form-control"> 
                                            <option value="1" {% if filter.month == '1' %} selected  {% endif %}>Yanvar</option>
                                            <option value="2" {% if filter.month == '2' %} selected  {% endif %}>Fevral</option>
                                            <option value="3" {% if filter.month == '3' %} selected  {% endif %}>Mart</option>
                                            <option value="4" {% if filter.month == '4' %} selected  {% endif %}>Aprel</option>
                                            <option value="5" {% if filter.month == '5' %} selected  {% endif %}>May</option>
                                            <option value="6" {% if filter.month == '6' %} selected  {% endif %}>Iyun</option>
                                            <option value="7" {% if filter.month == '7' %} selected  {% endif %}>Iyul</option>
                                            <option value="8" {% if filter.month == '8' %} selected  {% endif %}>Avgust</option>
                                            <option value="9" {% if filter.month == '9' %} selected  {% endif %}>Sentyabr</option>
                                            <option value="10" {% if filter.month == '10' %} selected  {% endif %}>Oktyabr</option>
                                            <option value="11" {% if filter.month == '11' %} selected  {% endif %}>Noyabr</option>
                                            <option value="12" {% if filter.month == '12' %} selected  {% endif %}>Dekabr</option>
                                     </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" style="color: black !important; font-weight: bold;">Yil</label>
                                        <input type="number" class="form-control" value="{{filter.year}}" name="year">
                                    </div>
                                    <div class="col-md-2" style="margin: 0px;">
                                        <br>
                                        <p></p>
                                        <button class="btn btn-primary" type="submit" style="height: 40px;">Filter</button>
                                    </div>
                                    <div class="col-md-2">
                                        <br>
                                        <p></p>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="height: 40px;">Qoshish</button>

                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content widget-content-area">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-4" id="example122">
                                                <thead>
                                                    <tr style="width: 200px;">
                                                        <th rowspan="10" style="background-color: rgb(101, 101, 101); color: white !important; " >
                                                            <p></p>
                                                            Yil
                                                            <br><br><p></p>
                                                            Начало недели
                                                            <br><br><br>
                                                            Конец недели 
                                                            <br><br>
                                                            Недели
                                                            <br><br><p></p>
                                                            <p style="color: white !important;" style="width: 200px;">План - Факт</p>
                                                        </th>
                                                    </tr>
                                                    
                                                    <tr>
                                                        {% for wek in weeks %}
                                                            <th colspan="2">{{ wek.shanba|date:'Y' }}</th>
                                                            <th></th>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for wek in weeks %}
                                                            <th class="silver-class">{{ wek.dushanba|date:'m-d' }}</th>
                                                            <th class="silver-class">{{ wek.dushanba|date:'m-d' }}</th>
                                                            <th></th>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for wek in weeks %}
                                                        <th class="silver-class">{{ wek.shanba|date:'m-d' }}</th>
                                                        <th class="silver-class">{{ wek.shanba|date:'m-d' }}</th>
                                                        <th></th>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        {% for wek in weeks %}
                                                            <th class="silver-class">{{wek.count}}</th>
                                                            <th class="silver-class">{{wek.count}}</th>
                                                            <th></th>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr style="background-color: blue; ">
                                                        {% for wek in weeks %}
                                                            <th style="color: white !important;">План</th>
                                                            <th style="color: white !important;">Факт</th>
                                                            <th style="color: white !important;">Bajarilishi</th>
                                                        {% endfor %}
                                                    </tr>
                                                   
                                                </thead>
                                                <tbody style="background-color: bisque !important;">
                                                    {% for wek in weeks %}
                                                    {% for i in data_reja %}
                                                    {% if wek.count == i.count %}
                                                    <tr class="{% if forloop.first %}header-row{% endif %}">
                                                        <td >
                                                            {% if forloop.first %}
                                                                Prixo
                                                            {% endif %}
                                                        </td>
                                                        <td >{{ i.plan }}</td>
                                                        <td ></td>
                                                        <td >{{ i.total }}</td>

                                                        <td>{{ i.plan }}</td>
                                                        <td></td>
                                                        <td>{{ i.total }}</td>
                                                        
                                                        <td>{{ i.plan }}</td>
                                                        <td></td>
                                                        <td>{{ i.total }}</td>

                                                        <td>{{ i.plan }}</td>
                                                        <td></td>
                                                        <td>{{ i.total }}</td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {% for i in data_chiqim %}
                                                        <tr class="{% if forloop.first %}header-row{% endif %}">
                                                            <td>
                                                                {% if forloop.first %}
                                                                    Rasxod
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ i.plan }}</td>
                                                            <td></td>
                                                            <td>{{ i.total }}</td>

                                                            <td>{{ i.plan }}</td>
                                                            <td></td>
                                                            <td>{{ i.total }}</td>
                                                            
                                                            <td>{{ i.plan }}</td>
                                                            <td></td>
                                                            <td>{{ i.total }}</td>

                                                            <td>{{ i.plan }}</td>
                                                            <td></td>
                                                            <td>{{ i.total }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
        
{% endblock content %}
{% block js %}
<script>
    document.querySelectorAll('.tab button').forEach(btn => btn.classList.remove('active'));

    const pathname = window.location.pathname;
    document.querySelectorAll('.tab button').forEach(btn => {
        const url = btn.getAttribute('data-url');
        if (url === pathname) {
            btn.classList.add('active');
        }
    });
</script>   
{% endblock js %}
