{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <style>
        i {
            color:black !important
        }
         #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
            width: 30rem;
        }
    </style>
{% endblock css %}
{% block content %}
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div id="alert-container"></div>

                        <div class="widget-content widget-content-area br-6">
                                <div class="row">
                                    <div class="col-md-10">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Yaratish</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form action="{% url 'debtor_add' %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <!-- <div class="form-group">
                                                                <label for="recipient-debtor_type" class="col-form-label">Turi</label>
                                                                <select name="type" id="recipient-debtor_type" class="form-control" >
                                                                    <option value="">---------</option>
                                                                    {% for debtor_type in debtor_type%}
                                                                        <option value="{{ debtor_type.id }}">{{ debtor_type.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-teritory" class="col-form-label">Teritoriyasi</label>
                                                                <select name="teritory" id="recipient-teritory" class="form-control" >
                                                                    <option value="">---------</option>
                                                                    {% for teritory in teritory %}
                                                                        <option value="{{ teritory.id }}">{{ teritory.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                              <div class="form-group">
                                                                <label  class="col-form-label">Narx Turi</label>
                                                                <select name="price_type"  class="form-control" >
                                                                    <option value="">---------</option>
                                                                    {% for price_type in price_type %}
                                                                        <option value="{{ price_type.id }}">{{ price_type.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div> -->
                                                            <!-- Debtor Type -->
                                                            <div class="form-group">
                                                                <label for="recipient-debtor_type" class="col-form-label">Turi</label>
                                                                <div class="input-group">
                                                                    <select name="type" id="recipient-debtor_type" class="form-control">
                                                                        <option value="">---------</option>
                                                                        {% for debtor_type in debtor_type %}
                                                                            <option value="{{ debtor_type.id }}">{{ debtor_type.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#debtorTypeModal">+</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Teritoriya -->
                                                            <div class="form-group">
                                                                <label for="recipient-teritory" class="col-form-label">Teritoriyasi</label>
                                                                <div class="input-group">
                                                                    <select name="teritory" id="recipient-teritory" class="form-control">
                                                                        <option value="">---------</option>
                                                                        {% for teritory in teritory %}
                                                                            <option value="{{ teritory.id }}">{{ teritory.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#teritoryModal">+</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Narx Turi -->
                                                            <div class="form-group">
                                                                <label class="col-form-label">Narx Turi</label>
                                                                <div class="input-group">
                                                                    <select name="price_type" class="form-control" id="recipient-price_type">
                                                                        <option value="">---------</option>
                                                                        {% for price_type in price_type %}
                                                                            <option value="{{ price_type.id }}">{{ price_type.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#priceTypeModal">+</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-image" class="col-form-label">Rasm</label>
                                                                <input type="file" class="form-control" id="recipient-image" name="image" >
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-fio" class="col-form-label">F.I.O</label>
                                                                <input type="text" class="form-control" id="recipient-fio" name="fio" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-form-label">Telegram ID</label>
                                                                <input type="text" class="form-control"  name="tg_id" oninput="filterTgID(this)" placeholder="ID bir xil bo‘lib qolmasin" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-phone1" class="col-form-label">Telefon</label>
                                                                <input value="998" type="text" class="form-control" id="recipient-phone1" name="phone1" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-phone2" class="col-form-label">Telefon 2</label>
                                                                <input value="998" type="text" class="form-control" id="recipient-phone2"  name="phone2" >
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>

                                    function filterTgID(input) {
                                        const tg_id = input.value;
                                        $.ajax({
                                            url: "{% url 'tg_id_filter' %}",
                                            type: "POST",
                                            data: { 'tg_id': tg_id },
                                            success: function(response) {
                                                if (response.data === true) {
                                                    console.log(111)
                                                    showAlert("Bu Telegram ID allaqachon mavjud!", "danger");
                                                    $(input).addClass('is-invalid');
                                                } else {
                                                    console.log(2222)
                                                    $(input).removeClass('is-invalid');
                                                }
                                            },
                                            error: function () {
                                                showAlert("Serverda xatolik yuz berdi", "danger");
                                            }
                                        });
                                    }

                                    const showAlert = (message, type) => {
                                        const alertElement = $(`
                                            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                                                ${message}
                                            </div>
                                        `);

                                        $("#alert-container").append(alertElement);
                                        setTimeout(() => {
                                            alertElement.fadeOut(500, function () { $(this).remove(); });
                                        }, 6000);
                                    };
                                </script>

                            <div class="table-responsive mb-4 mt-4">
                                <table class="table table-hover non-hover" id="html5-extension" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th>F.I.O</th>
                                            <th>Pul olish</th>
                                            <th>Pul berish</th>
                                            <th>Turi</th>
                                            <th>Agent</th>
                                            <th>Telefon</th>
                                            <th>Telefon 2</th>
                                            {% for i in valyuta %}
                                                <th>{{ i.name }} Qarz</th>
                                            {% endfor %}
                                            {% for i in valyuta %}
                                                <th>{{ i.name }} Haq</th>
                                            {% endfor %}
                                            <th>Bonus</th>
                                            <th>Boshlang'ich qoldiq</th>
                                            <th>Tahrirlash</th>
                                        </tr>
                                    </thead>
                                  
                                    <tbody> 
                                        {% for debtors in debtors %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <a href="{% url 'debtor_detail'  debtors.id  %}">
                                                        <p class="user-name">{{ debtors.fio }}</p>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a style="background-color: white;" type="button" data-toggle="modal" data-target="#exampleModalPay{{debtors.id}}" data-whatever="@getbootstrap"><i class="fa-solid fa-download"></i></a>
                                                </td>
                                                <td>
                                                    <a type="button" data-toggle="modal" data-target="#exampleModalGive{{debtors.id}}" data-whatever="@getbootstrap"><i class="fa-solid fa-upload"></i></a>
                                                </td>
                                                <td>{{ debtors.type|default_if_none:'' }}</td>
                                                <td>{{ debtors.agent|default_if_none:'' }}</td>
                                                <td>{{ debtors.phone1|default_if_none:'' }}</td>
                                                <td>{{ debtors.phone2|default_if_none:'' }}</td>
                                                {% for i in debtors.debt_qarzimiz %}
                                                    <td>{{ i.summa }}</td>
                                                {% endfor %}
                                                {% for i in debtors.debt_haqimiz %}
                                                    <td>{{ i.summa }}</td>
                                                {% endfor %}

                                                <td>
                                                    <center>
                                                        <button data-toggle="modal" class="form-control" data-target="#bonus{{debtors.id}}">
                                                            Bonus
                                                        </button>
                                                    </center>
                                                </td>

                                                <td>
                                                    <center>
                                                        <button data-toggle="modal" class="form-control" data-target="#start_debt{{debtors.id}}">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </center>
                                                </td>

                                                <td>
                                                    <center>
                                                        <a type="button" data-toggle="modal" data-target="#exampleModalEdit{{ debtors.id }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </center>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="exampleModalEdit{{ debtors.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <form action="{% url 'debtor_edit' debtors.id %}" method="post" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <label for="recipient-debtor_type" class="col-form-label">Turi</label>
                                                                    <select name="debtor_type" id="recipient-debtor_type" class="form-control" >
                                                                        <option value="">---------</option>
                                                                        {% for debtor_type in debtor_type%}
                                                                            <option value="{{ debtor_type.id }}" {% if debtor_type ==  debtors.debtor_type %} selected {% endif %}>{{ debtor_type.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-teritory" class="col-form-label">Teritoriyasi</label>
                                                                    <select name="teritory" id="recipient-teritory" class="form-control" >
                                                                        <option value="">---------</option>
                                                                        {% for teritory in teritory %}
                                                                            <option value="{{ teritory.id }}" {% if teritory ==  debtors.teritory %} selected {% endif %}>{{ teritory.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-price_type" class="col-form-label">Narx Turi</label>
                                                                    <select name="price_type" id="recipient-price_type" class="form-control" >
                                                                        <option value="">---------</option>
                                                                        {% for price_type in price_type %}
                                                                            <option value="{{ price_type.id }}" {% if price_type ==  debtors.price_type %} selected {% endif %}>{{ price_type.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-image" class="col-form-label">Rasm</label>
                                                                    <input type="file" class="form-control" id="recipient-image" name="image" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-fio" class="col-form-label">F.I.O</label>
                                                                    <input type="text" class="form-control" id="recipient-fio" value="{{ debtors.fio }}"  name="fio" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-form-label">Telegram ID</label>
                                                                    <input type="text" class="form-control"  name="tg_id" value="{{debtors.tg_id|default_if_none:''}}" placeholder="ID bir xil bo‘lib qolmasin" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-phone1" class="col-form-label">Telefon</label>
                                                                    <input type="text" class="form-control" id="recipient-phone1" value="{{ debtors.phone1|default_if_none:'0' }}" name="phone1" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-phone2" class="col-form-label">Telefon 2</label>
                                                                    <input type="text" class="form-control" id="recipient-phone2" value="{{ debtors.phone2|default_if_none:'0' }}" name="phone2" >
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="modal fade" id="exampleModalPay{{debtors.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form action="{% url 'kirim_qilish' %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-content">
                                                            <input type="hidden" name="debtor" value="{{debtors.id}}">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="KirimModalLabel">Pul olish</h5>
                                                        
                                                            </div>
                                                            <div class="modal-body">
                                                                <label for="">Valyuta</label>
                                                                <select name="valuta" id="" class="form-control">
                                                                    <option value="">- - - - - - - </option>
                                                                    {% for v in valyuta %}
                                                                        <option value="{{ v.id }}">{{ v.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <br>
                                                                <label for="">Kassa</label>
                                                                <select name="kassa" id="" class="form-control">
                                                                    <option value="">- - - - - - - </option>
                                                                    {% for k in cashes %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <br>
                                                                <label for="">Summa</label>
                                                                <input class="form-control" type="number" value="" name="summa" placeholder="Summa"><br>
                                    
                                                                <label for="">Kurs</label>
                                                                <input class="form-control" type="number" value="{{dollar_kurs}}" name="kurs" placeholder="Kurs" required><br>
                                                                <textarea name="izox" class="form-control" id="" cols="30" rows="5" placeholder="Izox"></textarea>
                                                                
                                                            </div>
                                                            <div class="modal-footer">
                                                                
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="exampleModalGive{{debtors.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form action="{% url 'chiqim_qilsih' %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="ChiqimModalLabel">Pul berish</h5>
                                                        
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden" name="debtor" value="{{debtors.id}}">
                                    
                                    
                                                                <label for="">Valyuta</label>
                                                                <select name="valuta" id="" class="form-control">
                                                                    <option value="">- - - - - - - </option>
                                                                    {% for v in valyuta %}
                                                                        <option value="{{ v.id }}">{{ v.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <br>
                                                                <label for="">Kassa</label>
                                                                <select name="kassa" id="" class="form-control">
                                                                    <option value="">- - - - - - - </option>
                                                                    {% for k in cashes %}
                                                                        <option value="{{ k.id }}">{{ k.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <br>
                                                                <label for="">Summa</label>
                                                                <input class="form-control" type="number" value="" name="summa" placeholder="Summa"><br>
                                    
                                                                <label for="">Kurs</label>
                                                                <input class="form-control" type="number" value="{{dollar_kurs}}" name="kurs" placeholder="Kurs"><br>
                                                                <textarea name="izox" class="form-control" id="" cols="30" rows="5" placeholder="Izox"></textarea>
                                                                
                                                            </div>
                                                            <div class="modal-footer">
                                                                
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="bonus{{ debtors.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    
                                                    <div class="modal-header">
                                                      <h5 class="modal-title">Bonus berish</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Yopish">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                              
                                                    <form method="post" action="{% url 'add_bonus' %}">
                                                      {% csrf_token %}
                                                      <div class="modal-body">
                                                        <input type="hidden" name="debtor" value="{{ debtors.id }}">
                                              
                                                        <div class="form-group">
                                                          <label for="valuta">Valuta</label>
                                                          <select class="form-control" name="valuta" id="valuta">
                                                            <option value="">- - - - - - - - </option>
                                                            {% for v in valyuta %}
                                                              <option value="{{ v.id }}">{{ v.name }}</option>
                                                            {% endfor %}
                                                          </select>
                                                        </div>
                                              
                                                        <div class="form-group">
                                                          <label for="date">Vaqt</label>
                                                          <input type="datetime-local" class="form-control" name="date" id="date">
                                                        </div>
                                              
                                                        <div class="form-group">
                                                          <label for="summa">Summa</label>
                                                          <input type="text" class="form-control" name="summa" id="summa" onkeyup="format(this)">
                                                        </div>
                                              
                                                        <div class="form-group">
                                                          <label for="comment">Comment</label>
                                                          <textarea class="form-control" name="comment" id="comment"></textarea>
                                                        </div>
                                                      </div>
                                              
                                                      <div class="modal-footer d-flex justify-content-between">
                                                        <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-rounded btn-primary">Tasdiqlash</button>
                                                      </div>
                                                    </form>
                                              
                                                  </div>
                                                </div>
                                              </div>


                                              <div class="modal fade" id="start_debt{{ debtors.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    
                                                    <div class="modal-header">
                                                      <h5 class="modal-title">Boshlang'ich qoldiq tayinlash</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Yopish">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                              
                                                    <form method="post" action="{% url 'set_start_summa' %}">
                                                      {% csrf_token %}
                                                      <div class="modal-body">
                                                        <input type="hidden" name="debtor" value="{{ debtors.id }}">
                                              
                                                        <div class="form-group">
                                                          <label for="valuta">Valuta</label>
                                                          <select class="form-control" name="valuta" id="valuta">
                                                            <option value="">- - - - - - - - </option>
                                                            {% for v in valyuta %}
                                                              <option value="{{ v.id }}">{{ v.name }}</option>
                                                            {% endfor %}
                                                          </select>
                                                        </div>
                                              
                                                        <div class="form-group">
                                                          <label for="date">Vaqt</label>
                                                          <input type="datetime-local" class="form-control" name="date" id="date">
                                                        </div>
                                              
                                                        <div class="form-group">
                                                          <label for="summa">Summa</label>
                                                          <input type="text" class="form-control" name="summa" id="summa" onkeyup="format(this)">
                                                        </div>
                                              
                                                      </div>
                                              
                                                      <div class="modal-footer d-flex justify-content-between">
                                                        <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-rounded btn-primary">Tasdiqlash</button>
                                                      </div>
                                                    </form>
                                              
                                                  </div>
                                                </div>
                                              </div>
                                              
                                        {% endfor %}
                                    </tbody>
                                   
                                </table>
                            </div>
                            <div style="margin-top: 10px; text-align: center; overflow-x: auto; white-space: nowrap; width: 100%; padding-bottom: 5px;">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination" style="display: inline-flex;">
                                        {% if debtors.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ debtors.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        {% for i in debtors.paginator.page_range %}
                                        {% if debtors.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if debtors.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ debtors.next_page_number }}">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


   <!-- DebtorType Modal -->
<div class="modal fade" id="debtorTypeModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="debtorTypeForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Turi Qo‘shish</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control" placeholder="Turi nomi" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Teritory Modal -->
<div class="modal fade" id="teritoryModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="teritoryForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Teritoriya Qo‘shish</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control mb-2" placeholder="Teritoriya nomi" required>

          <div class="input-group">
            <select name="region_id" id="regionSelect" class="form-control" required>
              <option value="">-- Region tanlang --</option>
              {% for region in regions %}
                <option value="{{ region.id }}">{{ region.name }}</option>
              {% endfor %}
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#regionModal">+</button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="modal fade" id="regionModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="regionForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Region Qo‘shish</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control mb-2" placeholder="Region nomi" required>
          <input type="number" name="number" class="form-control" placeholder="Region raqami" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- PriceType Modal -->
<div class="modal fade" id="priceTypeModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="priceTypeForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Narx Turi Qo‘shish</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control" placeholder="Narx turi nomi" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>





{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            paging: false  
        } );
    </script>



<script>
$(document).ready(function () {
    function handleFormSubmit(formId, url, selectId, modalId) {
        $(formId).submit(function (e) {
            e.preventDefault();
            const formData = $(this).serialize();

            $.ajax({
                url: url,
                type: 'POST',
                data: formData + '&csrfmiddlewaretoken={{ csrf_token }}',
                success: function (data) {
                    $(selectId).append(`<option value="${data.id}" selected>${data.name}</option>`);
                    $(modalId).modal('hide');
                    $(formId)[0].reset();
                },
                error: function () {
                    alert('Xatolik yuz berdi!');
                }
            });
        });
    }

    // Mavjud submitlar
    handleFormSubmit('#debtorTypeForm', '{% url "create_debtor_type" %}', '#recipient-debtor_type', '#debtorTypeModal');
    handleFormSubmit('#teritoryForm', '{% url "create_teritory" %}', '#recipient-teritory', '#teritoryModal');
    handleFormSubmit('#priceTypeForm', '{% url "create_price_type" %}', '#recipient-price_type', '#priceTypeModal');

    // Yangi: Region
    handleFormSubmit('#regionForm', '{% url "create_region" %}', '#regionSelect', '#regionModal');
});
</script>

{% endblock js %}
