{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}

{% block title %}
    <title>Qabul | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.css'%}" rel="stylesheet" type="text/css" />

    <link href="{% static 'assets/css/apps/invoice.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
{% endblock css %}
{% block content %}
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row invoice layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="app-hamburger-container">
                            <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
                        </div>
                        <div class="doc-container">
                            <div class="tab-title">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="">
                                            <button style="width: 100%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_add">
                                                Yangi
                                            </button>
                                              <div class="modal fade" id="new_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <form action="{% url 'deliver_return_add' %}" class="modal-content" method="post">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLongTitle">Yangi qoshish</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                       <div class="form-group">
                                                          <label for="">Taminotchi</label>
                                                          <select name="deliver" class="form-control" required>
                                                              <option value="">------</option>
                                                              {% for deliver in deliver %}
                                                                  <option value="{{deliver.id }}">{{deliver.name}}</option>
                                                              {% endfor %}
                                                          </select>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="">Ombor</label>
                                                        <select name="filial" class="form-control" required>
                                                            <option value="">------</option>
                                                            {% for filial in filial %}
                                                                <option value="{{filial.id }}">{{filial.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="">Valyuta</label>
                                                        <select name="valyuta" class="form-control" required>
                                                            <option value="">------</option>
                                                            {% for valyuta in valyuta %}
                                                                <option value="{{valyuta.id }}">{{valyuta.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="">Sana</label>
                                                        <input type="datetime-local" class="form-control" name="date_time" value="{{ today|date:'Y-m-d H:i' }}">
                                                      </div>
                                                      <div class="modal-footer d-flex justify-content-between">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                      </div>
                                                    </div>
                                                  </form>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="search">
                                            <input type="text" class="form-control" placeholder="Izlash">
                                        </div>
                                        <ul class="nav nav-pills inv-list-container d-block" id="pills-tab" role="tablist">
                                            {% for return_product in return_product %}
                                                <li data-id="{{return_product.id}}" class="nav-item nav_items
                                                {% if forloop.first %}
                                                    active
                                                {% endif %}
                                                    ">
                                                    <div class="nav-link list-actions" id="invoice-{{ return_product.id }}" data-invoice-id="{{ return_product.id }}">
                                                        <div class="f-m-body">
                                                            <div class="f-body">
                                                                <p class="invoice-customer-name">Taminotchi: {{ return_product.deliver }} <button type="button" class="btn" data-toggle="modal" data-target="#delete_modal{{return_product.id}}" style="color: red; float: right;"><i class="fa fa-trash"></i></button> </p>
                                                                <p class="invoice-customer-name"><span>Ombor:</span> {{ return_product.filial }}</p>
                                                                <p class="invoice-generated-date">Sana: {{ return_product.date|date:'Y-m-d H:i' }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <div class="modal fade" id="delete_modal{{return_product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLongTitle">Haqiqatdanham o'chirmoqchimisiz</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-between">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                          <a class="btn btn-primary" type="button" style="color: #fff;" href="{% url 'deliver_return_del'  return_product.id %}">O'chirish</a>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                            {% endfor %}
                                        </ul>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="invoice-container">
                                <div class="invoice-inbox">

                                    <div class="inv-not-selected">
                                        <p>Qabulni tanlang</p>
                                    </div>

                                    <div class="invoice-header-section">
                                        <h4 class="inv-number"></h4>
                                        <h4></h4>
                                        <div class="invoice-action">
{#                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top" data-original-title="Reply"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>#}
                                        </div>
                                    </div>

                                    <div id="ct" class="">
                                        {% for recieve in return_product %}
                                            <div class="invoice-{{ recieve.id }}" id="{% if active_one == recieve %}active_page{% endif %}">
                                                <div class="content-section  animated animatedFadeInUp fadeInUp">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-6">
                                                            <h3 class="in-heading">{{ recieve.deliver }}</h3>
                                                        </div>
                                                        <div class="col-sm-6 col-6 d-flex justify-content-end text-right">
                                                            <a href="{% url 'deliver_return_exit' recieve.id %}">
                                                                <button type="button" class="btn btn-primary">
                                                                    Yakunlash  
                                                                </button>
                                                            </a>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <select onchange="add_modal(this)" class="form-control searchable" name="product" id="" data-recieve="{{recieve.id}}">
                                                                <option value="">Maxsulot tanlash</option>
                                                                {% for i in products %}
                                                                    <option value="{{ i.id }}|{{ i.som }}|{{ i.dollar }}">{{ i.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row inv--product-table-section">
                                                        <div class="col-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="">
                                                                        <tr>
                                                                            <th scope="col"></th>
                                                                            <th scope="col"></th>
                                                                            <th scope="col">Mahsulot</th>
                                                                            
                                                                            {% for v in valyuta %}
                                                                                <th class="text-right">{{ v }}</th>
                                                                            {% endfor %}
                                                                                
                                                                            <th class="text-right calculate_total" scope="col">Soni</th>

                                                                            {% for v in valyuta %}
                                                                                <th class="text-right calculate_total" scope="col">Jami {{v}}</th>
                                                                            {% endfor %}

                                                                            <th class="text-right" scope="col"></th>
                                                                            <th class="text-right" scope="col"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for item in recieve.returnproducttodeliver.all %}
                                                                                <tr>
                                                                                    <td>
                                                                                        <label for="item{{item.id}}"></label>
                                                                                        <input type="checkbox" id="item{{item.id}}">
                                                                                    </td>
                                                                                    <td>{{ forloop.counter }}</td>
                                                                                    <td>{{ item.product }}</td>
                                                                                    {% for pr in item.price_for_valyutas %}
                                                                                        <td class="text-right" data-value="{{pr}}">{{ pr|intcomma }}</td>
                                                                                    {% endfor %}
                                                                                    <td class="text-right" data-value="{{item.quantity}}">{{ item.quantity|floatformat:0|intcomma }}</td>

                                                                                    {% for pr in item.total_price_for_valyutas %}
                                                                                        <td class="text-right" data-value="{{pr}}">{{ pr|intcomma }}</td>
                                                                                    {% endfor %}
                                                                                    <td class="text-right"><button  type="button" class="btn" data-toggle="modal" data-target="#recieve_item_add_modal_edit{{item.id}}" style="color: rgb(0, 255, 68); float: right;"><i class="fa fa-edit"></i></button></td>
                                                                                    <td class="text-right"><button  type="button" class="btn" data-toggle="modal" data-target="#delete_item_modal{{item.id}}" style="color: red; float: right;"><i class="fa fa-trash"></i></button></td>
                                                                                </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                    <tfoot class="">
                                                                        <tr>
                                                                            <th scope="col">Jami</th>
                                                                            <th scope="col"></th>
                                                                            <th scope="col"></th>
                                                                            
                                                                            {% for v in valyuta %}
                                                                                <th class="text-right calculate_total"></th>
                                                                            {% endfor %}
                                                                                
                                                                            <th class="text-right" scope="col"></th>

                                                                            {% for v in valyuta %}
                                                                                <th class="text-right calculate_total" scope="col"></th>
                                                                            {% endfor %}

                                                                            <th class="text-right" scope="col"></th>
                                                                            <th class="text-right" scope="col"></th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <button style="width: 100%;display: none;" type="button" class="btn btn-primary" data-toggle="modal" id="recieve_item_add_button" data-target="#recieve_item_add_modal">
                    Yangi
                </button>
                  <div class="modal fade" id="recieve_item_add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <form class="modal-content" method="post" action="{% url 'deliver_return_item_add' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                          <h5 class="modal-title" id="recieve_item_add_product_name">Yangi qoshish</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" >
                            <div class="form-group" id="recieve_item_add_product_div">
                              <input type="hidden" name="returnproduct" class="form-control" value="{{ active_id }}">
                              <input type="hidden" name="product_filial" id="recieve_item_add_product_id" class="form-control">

                              <label for="">Miqdori</label>
                              <input type="number" name="quantity" class="form-control" required>
                              <!-- <label for="">Som</label>
                              <input type="number" id="recieve_item_add_som" name="som" class="form-control"> -->
                              <!-- <label for="">Valyuta</label>
                              <input type="text" class="form-control" name=""> -->
                              <div class="form-group">
                                <label for="">Valyuta</label>
                                <select name="valyuta" class="form-control" required>
                                    <option value="">------</option>
                                    {% for valyuta in valyuta %}
                                        <option value="{{valyuta.id }}">{{valyuta.name}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              <label for="">Summa</label>
                              <input type="number" id="recieve_item_add_dollar" name="summa" class="form-control">
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                              <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>

                {% for recieve in return_product %}
                {% for item in recieve.returnproducttodeliver.all %}


                    <div class="modal fade" id="delete_item_modal{{item.id}}" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Haqiqatdanham o'chirmoqchimisiz</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                            <a class="btn btn-primary" type="button" style="color: #fff;" href="{% url 'deliver_return_item_del'  item.id %}">O'chirish</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="recieve_item_add_modal_edit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <form class="modal-content" method="post" action="{% url 'deliver_return_item_edit' item.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" >Tahrirlash</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <div class="form-group">
                                    <label for="">Miqdori</label>
                                    <input type="number" step="any" value="{{ item.quantity|comma_to_dot }}" name="quantity" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label for="">Valyuta</label>
                                    <select name="valyuta" class="form-control" required>
                                        <option value="">------</option>
                                        {% for valyuta in valyuta %}
                                            <option value="{{valyuta.id }}"
                                            
                                            {% if valyuta == item.valyuta %}
                                                selected
                                            {% endif %}
                                                >{{valyuta.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label for="">Summa</label>
                                <input type="number" id="" value="{{item.summa_str}}" name="summa" class="form-control">
                                </div>
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
{% endblock content %}
{% block js %}

    <script src="{% static 'assets/js/apps/invoice.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $('select.searchable').selectize({ normalize: true });
    </script>
     <script>
        $('.nav_items').click(function() {
            let item = $(this)
            let id = item.attr('data-id')
            const currentUrl = new URL(window.location.href);

            const paramName = 'active';
            const paramValue = id;

            currentUrl.searchParams.set(paramName, paramValue);

            window.history.replaceState({}, '', currentUrl.toString());

            })
    </script>
    <script>
        let active = $('#active_page')
        if (active.length) {
            $(`#invoice-${"{{active_one.id}}"}`).click()
        }
    </script>
<script>
   function add_modal(item) {
        let selectedOption = item.options[item.selectedIndex];
        let values = selectedOption.value.split('|');

        let productId = values[0];
        let som = values[1];
        let dollar = values[2];

        $('#recieve_item_add_button').click();
        $('#recieve_item_add_product_id').val(productId);
        $('#recieve_item_add_som').val(som);
        $('#recieve_item_add_dollar').val(dollar);
    }

</script>
<script>
    function delete_modal() {
    setTimeout(function() {
        console.log($('.modal-backdrop'));
        $('.modal-backdrop').removeClass('modal-backdrop');
    }, 100); 
}
</script>
<script>
    function delete_modal() {
    setTimeout(function() {
        console.log($('.modal-backdrop'));
        $('.modal-backdrop').removeClass('modal-backdrop');
    }, 100);
}
</script>

{% endblock js %}