{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
        
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <!-- END PAGE LEVEL CUSTOM STYLES -->
{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">


                        <div class="widget-content widget-content-area br-6">
                            <form action="" method="get">
                                    <!-- <div class="col-md-4 d-flex">
                                    <input style="margin-left: 1rem;"   type="month"  class="form-control" id="filter_month" name="month">
                                    <button style="margin-left: 1rem;" type="submit" class="btn btn-primary">Filterlash </button>
                                    <p style="margin-left: 1rem; font-size:17px">Ishlagan Kunlar</p><br><h5 style="margin-left: 1rem; margin-top: 0.5rem;" > {{ count_work }}</h6><br>
                                    <p style="margin-left: 1rem; font-size:17px">Ishlamagan Kunlar</p><br><h5 style="margin-left: 1rem; margin-top: 0.5rem;" > {{ count_not_work }}</h6><br>
                                    <p style="margin-left: 1rem; font-size:17px">Bonus Summa</p><br><h5 style="margin-left: 1rem; margin-top: 0.5rem;" > {{ bonus_summa|intcomma }}</h6><br>
                                    <p style="margin-left: 1rem; font-size:20px">Fix</p><br><h5 style="margin-left: 1rem; margin-top: 0.5rem;" > {{ fix|intcomma }}</h6><br>
                                    <p style="margin-left: 1rem; font-size:20px">Summa</p><br><h5 style="margin-left: 1rem; margin-top: 0.5rem;" > {{ fix_summa|intcomma }}</h6><br>
                                        
                                    </div> -->
                        </form>
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th style='text-align: center;'>Sana</th>
                                            <th style='text-align: center;'>Sotilgan</th>
                                            <th style='text-align: center;'>Narxi</th>
                                            <th style='text-align: center;'>Ishladi</th>
                                            <th style='text-align: center;'>Qoldi</th>
                                            <th style='text-align: center;'>Sana  </th>
                                            <th style='text-align: center;'>Berildi  </th>
                                            <th style='text-align: center;'>Qoldi  </th>
                                            <th>Izox</th>  
                                        </tr>
                                    </thead>
                                    <tbody>  {% for i in chiqim %}
                                            <tr class="qwerty">
                                              
                                                <td class="">{{ forloop.counter }}</td>
                                                <td style='text-align: center;'>{{ i.date }}</td>
                                                <td style='text-align: center;'> {{ i.quantity|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.flex_price|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.ishladi|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.rest|add:i.pay|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.date|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.pay|intcomma }}</td>
                                                <td style='text-align: center;'> {{ i.rest|intcomma }}</td>
                                                <td>{{ i.izox }}</td>   
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="">Jami:</th>
                                            <th class=""></th>
                                            <th id="allprice1" style='text-align: center;'>{{ quantity|intcomma }} </th>
                                            <th id="som" style='text-align: center;'></th>
                                            <th id="allprice1" style='text-align: center;'>{{ ishladi|intcomma }} </th>
                                            <th id="allprice1" style='text-align: center;'> </th>
                                            <th id="allprice1" style='text-align: center;'> </th>
                                            <th id="allprice1" style='text-align: center;'>{{ pay|intcomma }} </th>
                                            <th id="allprice1" style='text-align: center;'> </th>
                                            <th id="allprice1" style='text-align: center;'> </th>
                                           
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
{% block js %}

    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 15
        } );

        let data = []

        var rows = trs.cell( {selected:true} ).data();

        console.log(rows.length);

        
        let input = $('.form-control[type=search]')
        input.on('keyup', function() {

            trs.rows({"search":"applied"}).every(()=>data.push(this.data()))
            
            let som = 0
            console.log();
            
            
            // Array.from(rows).forEach(function(item, index) {
            //     som += parseInt(item.getAttribute('data-som'))
            // })
            // som = som.toLocaleString()
            // $('#som1').text(som)
        })
    </script>

    <script>
        // let input = $('.form-control[type=search]')
        // input.on('keyup', function() {
        //     let som = 0


        //     var trs = $('#mainTable').dataTable();

        //     //Get all rows from the trs table object.
        //     var rows = trs.$("tr");


        //     // console.log($('.som').length);
        //     console.log($('tr[class="qwerty"]').length);
        //     $('tr[class="qwerty"]').each(function(index, item) {
        //         // console.log(index, item.textContent);
        //         // let id = item.getAttribute('data-id')
        //         som += parseInt(item.getAttribute('data-som'))
        //     })
        //     som = som.toLocaleString()
        //     $('#som1').text(som)

        //     let quantity = 0
        //     Array.from(document.querySelectorAll('.quantity')).forEach(function(item) {
        //         quantity += parseInt(item.getAttribute('data-quantity'))
        //     })

        //     quantity = quantity.toLocaleString()
            
        //     $('#quantity1').text(quantity)



        //     let allprice = 0
        //     Array.from(document.querySelectorAll('.allprice')).forEach(function(item) {
        //         allprice += parseInt(item.getAttribute('data-all'))
        //     })

        //     allprice = allprice.toLocaleString()

        //     $('#allprice1').text(allprice)

            

        //     let dollar = 0
        //     Array.from(document.querySelectorAll('.dollar')).forEach(function(item) {
        //         dollar += parseInt(item.getAttribute('data-dollar'))
        //     })
        //     dollar = dollar.toLocaleString()
        //     $('#dollar1').text(dollar)
        // })
    </script>
{% endblock js %}
