{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <script src="{% static 'assets/js/apps/contact.js' %}"></script>
    <link href="{% static 'assets/css/apps/contacts.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        td {
            color: black !important;
        }
        .white_class {
            color: white !important;
        }
    </style>
{% endblock css %}
{% block content %}
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row layout-spacing layout-top-spacing" id="cancel-row" >
                <div class="col-lg-12" >
                    <div class="widget-content searchable-container list">
                        <div class="searchable-items list">
                            <div class="items">
                                <div class="item-content">
                                    <div class="user-profile">
                                        <div class="n-chk align-self-center text-center">
                                            <div class="form-check form-check-primary me-0 mb-0">
                                            </div>
                                        </div>
                                        <div class="n-chk align-self-center text-center">
                                            <div class="form-check form-check-primary me-0 mb-0">
                                            </div>
                                        </div>
                                         <div class="n-chk align-self-center text-center">
                                            <div class="form-check form-check-primary me-0 mb-0">
                                            </div>
                                        </div>
                                        <div class="user-meta-info">
                                            <p class="user-name" data-name="Alan Green">Mijoz: {{ income.full_name }}</p>
                                        </div>
                                    </div>
                                    <div class="user-email">
                                        <p class="usr-email-addr" data-email="alan@mail.com"> Telefon :{{ income.phone|default_if_none:"-" }}</p>
                                    </div>
                                    <div class="user-location">
                                        <p class="usr-location" data-location="Boston, USA">Turi :{{ income.type.name|default_if_none:"-" }}</p>
                                    </div>
                                 
                                    <div class="action-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row layout-top-spacing" id="cancel-row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="row">
                        <div class="col-md-10">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <input type="date" name="start_date" class="form-control" value="{{ filters.start_date }}">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="end_date" class="form-control" value="{{ filters.end_date }}">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-filter"></i>
                                        </button>
                                    </div>
                                  
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Boshlangich summa</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form action="{% url 'external_income_user_debt_create' income.id %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="recipient-valyuta" class="col-form-label">Valyuta</label>
                                                        <select name="valyuta" id="recipient-valyuta" class="form-control" required>
                                                            <option value="">---------</option>
                                                            {% for valyuta in valyuta %}
                                                                <option value="{{ valyuta.id }}">{{ valyuta.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-start_summa" class="col-form-label">Boshlangich Summa</label>
                                                        <input type="number" class="form-control" id="recipient-start_summa"  name="start_summa" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>  
                        <div class="col-md-12">
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-striped table-bordered display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Sana</th>
                                            <th>Turi</th>
                                            <th>Bizga kirim</th>
                                            <th>Bizdan chiqim</th>
                                            <th>Bonus</th>
                                            <th>Qarzimiz</th>
                                            <th>Haqqimiz</th>
                                            <th>Izoh</th>
                                        </tr>
                                    </thead>
                                    {% for v in valyuta %}
                                    <tbody>
                                        <tr style="background-color: rgb(255, 255, 255) !important;">
                                            <th></th>
                                            <th>Boshlangich qoldiq</th>
                                            {% for x in data_start_sum %}
                                                {% if x.valyuta == v %}
                                                    <th>{{ x.start|intcomma }}</th>
                                                {% endif %}
                                            {% endfor %}
                                            <th style="text-align: center;"></th>
                                            {% for sm in summa_total_for_valyuta %}
                                                {% if sm.valyuta == v.id %}
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                {% endif %}
                                            {% endfor %}
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr style="background-color: beige !important;">
                                            <th></th>
                                            <th></th>
                                            <th style="text-align: center;">{{v.name}}</th>
                                            {% for sm in summa_total_for_valyuta %}
                                                {% if sm.valyuta == v.id %}
                                                    <th>{{sm.pay_pay_summa|intcomma}}</th>
                                                    <th>{{sm.pay_give_summa|intcomma}}</th>
                                                    <th></th>
                                                {% endif %}
                                            {% endfor %}
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        {% for b in debt_shot %}
                                            {% if b.valyuta == v %}
                                                <tr style="background-color: cornflowerblue !important;">
                                                    <th></th>
                                                    <th></th>
                                                    <th class="white_class">Boshlang'ich qoldiq</th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    {% if b.start_summa > 0 %}
                                                        <th></th>
                                                        <th>{{b.start_summa|intcomma}}</th>
                                                        {% else %}
                                                        <th>{{b.start_summa|intcomma}}</th>
                                                        <th></th>
                                                    {% endif %}
                                                    <th></th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% for py in data %}
                                            {% if v == py.valyuta %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{py.date|date:'Y-m-d H:i'}}</td>
                                                    <td>
                                                        {{py.type_payment}}
                                                    </th>
                                                    <td>
                                                        {{ py.pay_summa|intcomma }}
                                                    </td>
                                                    <td>
                                                        {{ py.give_summa|intcomma }}
                                                    </td>
                                                    <td></td> 
                                                    {% if py.debt_new > 0 %}
                                                        <td></td>
                                                        <td>{{ py.debt_new|intcomma }}</td>
                                                    {% else %}
                                                        <td>{{ py.debt_new|intcomma }}</td>
                                                        <td></td>
                                                    {% endif %}
                                                    <td>{{ py.comment }}</td>
                                                </tr>
                                            {%endif%}
                                        {% endfor %}
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            paging: false  
        } );
    </script>
{% endblock js %}
