{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    
{% endblock css %}
{% block content %}
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                                <div class="row">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalType" data-whatever="@getbootstrap">Yangi Tur qo'shish</button>
                                        <div class="modal fade" id="exampleModalType" tabindex="-1" role="dialog" aria-labelledby="exampleModalTypeLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form action="{% url 'external_income_user_types_add' %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Nomi</label>
                                                                <input type="text" class="form-control" id="recipient-name" name="name" required>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Yangi qo'shish</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form action="{% url 'externalincomeuser_add' %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <label for="recipient-full_name" class="col-form-label">To'liq ism</label>
                                                                <input type="text" class="form-control" id="recipient-full_name" name="full_name" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-phone" class="col-form-label">Telefon raqam</label>
                                                                <input type="tel" class="form-control" id="recipient-phone" name="phone" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-tartib_raqam" class="col-form-label">Tartib raqam</label>
                                                                <input type="number" class="form-control" id="recipient-tartib_raqam" name="tartib_raqam">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-type" class="col-form-label">Turi</label>
                                                                <select name="type" id="recipient-type" class="form-control" required>
                                                                    <option value="" selected disabled>Tanlang</option>
                                                                    {% for i in type_income %}
                                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="table-responsive mb-4 mt-4">
                                <table class="table table-hover non-hover" id="html5-extension" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th>Toliq ism</th>
                                            <th>Pul olish</th>
                                            <th>Pul berish</th>
                                            <th>Telefon raqam</th>
                                            {% for v in valyuta %}
                                                <th>{{v}} (Haqqimiz)</th>
                                            {% endfor %}
                                            {% for v in valyuta %}
                                                <th>{{v}} (Qarzimiz)</th>
                                            {% endfor %}
                                            <th>Turi</th>
                                            <th>Tartib raqam</th>
                                            <th>Tahrirlash</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for i in income %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href="{% url 'income_user_detail' %}?d={{i.id}}">{{ i.full_name }}</a></td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalPay{{i.id}}" data-whatever="@getbootstrap"><i class="fa-solid fa-download"></i></button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalGive{{i.id}}" data-whatever="@getbootstrap"><i class="fa-solid fa-upload"></i></button>
                                            </td>
                                            <td>{{ i.phone }}</td>
                                            {% for d in i.debt_haqimiz %}             
                                                <td>{{d.summa|default_if_none:'0'|intcomma}}</td>
                                            {% endfor %}

                                            {% for d in i.debt_qarzimiz %}
                                                <td>{{d.summa|default_if_none:'0'|intcomma}}</td>
                                            {% endfor %}

                                            <td>{{ i.type.name }}</td>
                                            <td>{{ i.tartib_raqam }}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalEdit{{i.id}}" data-whatever="@getbootstrap"><i class="fa-solid fa-pen-to-square"></i></button>
                                                <div class="modal fade" id="exampleModalEdit{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <form action="{% url 'externalincomeuser_edit' i.id %}" method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="recipient-full_name" class="col-form-label">To'liq ism</label>
                                                                        <input type="text" class="form-control" id="recipient-full_name" value="{{ i.full_name }}" name="full_name" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="recipient-phone" class="col-form-label">Telefon raqam</label>
                                                                        <input type="tel" class="form-control" id="recipient-phone" name="phone" value="{{ i.phone }}"  required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="recipient-tartib_raqam" class="col-form-label">Tartib raqam</label>
                                                                        <input type="number" class="form-control" id="recipient-tartib_raqam" value="{{ i.tartib_raqam }}" name="tartib_raqam">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="recipient-type" class="col-form-label">Turi</label>
                                                                        <select name="type" id="recipient-type" class="form-control" required>
                                                                            <option value="" selected disabled>Tanlang</option>
                                                                            {% for type_i in type_income %}
                                                                                <option value="{{ type_i.id }}" {% if type_i == i.type  %} selected {% endif %}>{{ type_i.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="exampleModalPay{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form action="{% url 'kirim_qilish' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-content">
                                                        <input type="hidden" name="partner" value="{{i.id}}">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="KirimModalLabel">Pul olish</h5>
                                                    
                                                        </div>
                                                        <div class="modal-body">
                                                            <label for="">Valyuta</label>
                                                            <select name="valuta" id="" class="form-control">
                                                                <option value="">- - - - - - - </option>
                                                                {% for v in valyuta %}
                                                                    <option value="{{ v.id }}">{{ v.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <br>
                                                            <label for="">Kassa</label>
                                                            <select name="kassa" id="" class="form-control">
                                                                <option value="">- - - - - - - </option>
                                                                {% for k in cashes %}
                                                                    <option value="{{ k.id }}">{{ k.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <br>
                                                            <label for="">Summa</label>
                                                            <input class="form-control" type="number" value="" name="summa" placeholder="Summa"><br>
                                
                                                            <label for="">Kurs</label>
                                                            <input class="form-control" type="number" value="{{dollar_kurs}}" name="kurs" placeholder="Kurs"><br>
                                                            <textarea name="izox" class="form-control" id="" cols="30" rows="5" placeholder="Izox"></textarea>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="exampleModalGive{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form action="{% url 'chiqim_qilsih' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="ChiqimModalLabel">Pul berish</h5>
                                                    
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" name="partner" value="{{i.id}}">
                                
                                
                                                            <label for="">Valyuta</label>
                                                            <select name="valuta" id="" class="form-control">
                                                                <option value="">- - - - - - - </option>
                                                                {% for v in valyuta %}
                                                                    <option value="{{ v.id }}">{{ v.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <br>
                                                            <label for="">Kassa</label>
                                                            <select name="kassa" id="" class="form-control">
                                                                <option value="">- - - - - - - </option>
                                                                {% for k in cashes %}
                                                                    <option value="{{ k.id }}">{{ k.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <br>
                                                            <label for="">Summa</label>
                                                            <input class="form-control" type="number" value="" name="summa" placeholder="Summa"><br>
                                
                                                            <label for="">Kurs</label>
                                                            <input class="form-control" type="number" value="{{dollar_kurs}}" name="kurs" placeholder="Kurs"><br>
                                                            <textarea name="izox" class="form-control" id="" cols="30" rows="5" placeholder="Izox"></textarea>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Sum</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            {% for w in total_haq %}
                                                <td class="text-left">{{w.summa|floatformat:'2'|intcomma}}</td>
                                            {% endfor %}

                                            {% for w in total_qarz %}
                                                <td class="text-left">{{w.summa|floatformat:'2'|intcomma}}</td>
                                            {% endfor %}
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 15
        } );

        let data = []

        var rows = trs.cell( {selected:true} ).data();

        console.log(rows.length);

        
        let input = $('.form-control[type=search]')
        input.on('keyup', function() {

            trs.rows({"search":"applied"}).every(()=>data.push(this.data()))
            
            let som = 0
            console.log();
        })
    </script>
{% endblock js %}
