{% extends 'base.html' %}
{% load static %}
{% load humanize  %}
{% block title %}
    <title>Bosh Sahifa </title>
{% endblock title %}
{% block css %}
    <link href="{% static 'plugins/apex/apexcharts.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/dashboard/dash_2.css'%}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/custom-nouiSlider.css'%}" rel="stylesheet" type="text/css">
    {% comment %} <link href="{% static 'plugins/bootstrap-range-Slider/bootstrap-slider.css'%}" rel="stylesheet" type="text/css"> {% endcomment %}
    <!--  END CUSTOM STYLE FILE  -->

{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <br><br>
                <form method="get" class="row">
                    <div class="col-md-3">
                        <input class="form-control" name="year" id="year" type="number" min="2010" max="2099" step="1" value="{{filters.year}}" />
                    </div>

                    <div class="col-md-3">
                        <input class="form-control" type="date" name="start_date"  value="{{filters.start_date|date:'Y-m-d'}}">
                    </div>

                    <div class="col-md-3">
                        <input class="form-control" type="date" name="end_date" value="{{filters.end_date|date:'Y-m-d'}}">
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary" type="submit"> Filterlash</button>
                    </div>
                </form>
                <div class="row layout-top-spacing">

                    

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-one">
                            <div class="widget-heading">
                                <h5 class="">Savdo</h5>

                            </div>

                            <div class="widget-content">
                                <div class="tabs tab-content">
                                    <div id="content_1" class="tabcontent">
                                        <div id="revenueMonthly"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-two">
                            <div class="widget-heading">
                                <h5 class="">Oylik grafik</h5>
                            </div>
                            <div class="widget-content">
                                <div id="chart-2" class=""></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-8 layout-spacing">
                        <div class="statbox widget box box-shadow p-0">
                            <div class="row">
                                <div class="form-group mb-0 col-12">
                                    <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Sanani tanlang">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-4 layout-spacing">
                        <div class="statbox widget box box-shadow p-0">
                            <div class="row">
                                <div class="form-group mb-0 col-12">
                                    <span class="form-control flatpickr flatpickr-input active text-center" id="jami">Jami : {{ jamisum }}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <style>
                        table {
                            width: 100%;
                            border-collapse: collapse;
                            font-family: Arial, sans-serif;
                            text-align: center;
                        }
                        th, td {
                            border: 1px solid black !important;
                            padding: 8px;
                            text-align: center;
                        }
                     
                    </style>



                    {% for i in top_debtors_per_currency %}    
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 layout-spacing">
                            <div class="widget">
                                <div class="widget-heading">
                                    <h5 class="">Top 10 qarzdor mijozlar {{i.valyuta.name}} </h5>
                                </div>
                                <div class="widget-content">
                                    <div class="table-responsive">
                                        <table class="table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >№</th>
                                                    <th scope="col" >Ismi </th>
                                                    <th>Summa</th>
                                                        
                                                </tr>
                                            </thead>
                                            <tbody id="fil">
                                                {% for d in i.debtors %}
                                                <tr>
                                                    <td scope="row">{{ forloop.counter }}</td>
                                                    <td scope="row"><p style="width: 100px;">{{ d.customer__fio }}</p></td>

                                                    <td scope="row">{{ d.total_debt|intcomma }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}



                    {% for i in top_creditors_per_currency %}    
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 layout-spacing">
                            <div class="widget">
                                <div class="widget-heading">
                                    <h5 class="">Top 10 haqdor mijozlar {{i.valyuta.name}} </h5>
                                </div>
                                <div class="widget-content">
                                    <div class="table-responsive">
                                        <table class="table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >№</th>
                                                    <th scope="col" >Ismi </th>
                                                    <th>Summa</th>
                                                        
                                                </tr>
                                            </thead>
                                            <tbody id="fil">
                                                {% for d in i.creditors %}
                                                <tr>
                                                    <td scope="row">{{ forloop.counter }}</td>
                                                    <td scope="row"><p style="width: 100px;">{{ d.customer__fio }}</p></td>

                                                    <td scope="row">{{ d.total_credit|intcomma }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
    


                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 layout-spacing">
                        <div class="widget ">

                            <div class="widget-heading">
                                <h5 class="">Top 10 sotilayotgan maxsulot Dona</h5>
                            </div>
                            <div class="widget-content">
                                <div class="table-responsive">
                                    <table class="table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th scope="col" >№</th>
                                                <th scope="col" >Maxsulot</th>
                                                <th scope="col" >Soni</th>
                                            </tr>
                                        </thead>
                                        <tbody id="fil">
                                        {% for top_products in top_sell_products %}
                                            <tr>
                                                <td scope="row">{{ forloop.counter }}</td>
                                                <td scope="row" style="word-break: break-word; max-width: 100px;">
                                                    {{ top_products.product__name }}
                                                </td>
                                                
                                                <td scope="row">{{ top_products.total_quantity|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    {% for i in top_profit_product %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 layout-spacing">
                        <div class="widget ">

                            <div class="widget-heading">
                                <h5 class="">Top 10 sotilayotgan maxsulot {{i.valyuta}}</h5>
                            </div>

                            <div class="widget-content">
                                <div class="table-responsive">
                                    <table class="table caption-top" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th scope="col" >№</th>
                                                <th scope="col" >Maxsulot</th>
                                                <th>Summa</th>
                                            </tr>
                                        </thead>
                                        <tbody id="fil">
                                        {% for pr in i.products %}
                                            <tr>
                                                <td scope="row">{{ forloop.counter }}</td>
                                                <td scope="row" style="word-break: break-word; max-width: 100px;">{{ pr.product }}</td>
                                                <td scope="row">{{ pr.summa|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                    {% for i in top_salers_by_valyuta %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 layout-spacing">
                        <div class="widget ">

                            <div class="widget-heading">
                                <h5 class="">Top sotuvchilar {{ i.valyuta }}</h5>
                            </div>

                            <div class="widget-content">
                                <div class="table-responsive">
                                    <table class="table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th scope="col" >№</th>
                                                <th><div class="th-content">Sotuvchi</div></th>
                                                <th><div class="th-content">Filial</div></th>
                                                <th><div class="th-content">Summa</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for saler in i.salers %}
                                                    <tr>
                                                        <td scope="row">{{ forloop.counter }}</td>
                                                        <td><div class="td-content customer-name">{{ saler.saler_name }}</div></td>
                                                        <td><div>{{ saler.saler_obj.filial.name }}</div></td>
                                                        <td><div>{{ saler.summa|intcomma }}</div></td>
                                                    </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        

                </div>

            </div>
        </div>
{% endblock content %}
{% block js %}

    <script src="{% static 'plugins/apex/apexcharts.min.js'%}"></script>
    <script src="{% static 'assets/js/dashboard/dash_2.js'%}"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/nouislider.min.js'%}"></script>

    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/custom-nouiSlider.js'%}"></script>
    <script src="{% static 'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js'%}"></script>
    <script>
    $(document).ready(function () {
        let start_date = "{{filters.start_date|date:'Y-m-d'}}"
        let end_date = "{{filters.end_date|date:'Y-m-d'}}"

        let url = `/summa/?start_date=${start_date}&end_date=${end_date}`
        $.ajax({
            type: 'get',
            url: url,
            success: function (data) {
                console.log(data)
                var naqd_som = (data['naqd_som']);
                var naqd_dollar = (data['naqd_dollar']);
                var plastik = (data['plastik']);
                var nasiya_som = (data['nasiya_som']);
                var nasiya_dollar = (data['nasiya_dollar']);
                var transfer = (data['transfer']);
                var skidka_som = (data['skidka_som']);
                var skidka_dollar = (data['skidka_dollar']);

                var naqd_som_ = String(data['naqd_som']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var naqd_dollar_ = String(data['naqd_dollar']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var plastik_ = String(data['plastik']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var nasiya_som_ = String(data['nasiya_som']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var nasiya_dollar_ = String(data['nasiya_dollar']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var transfer_ = String(data['transfer']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var skidka_som_ = String(data['skidka_som']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var skidka_dollar_ = String(data['skidka_dollar']).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                var options = {
                    chart: {
                        type: 'donut',
                        width: 380
                    },
                    colors: ['#5c1ac3', '#e2a03f', '#e7515a', '#e2a03f', '#5c1ac3', '#e2a03f', '#e7515a', '#e2a03f'],
                    dataLabels: {
                        enabled: false
                    },
                    legend: {
                        position: 'bottom',
                        horizontalAlign: 'center',
                        fontSize: '14px',
                        markers: {
                            width: 10,
                            height: 10,
                        },
                        itemMargin: {
                            horizontal: 0,
                            vertical: 8
                        }
                    },
                    plotOptions: {
                        pie: {
                            donut: {
                                size: '65%',
                                background: 'transparent',
                                labels: {
                                    show: true,
                                    name: {
                                        show: true,
                                        fontSize: '14px',
                                        fontFamily: 'Nunito, sans-serif',
                                        color: undefined,
                                        offsetY: -10
                                    },
                                    value: {
                                        show: true,
                                        fontSize: '12px',
                                        fontFamily: 'Nunito, sans-serif',
                                        color: '20',
                                        offsetY: 16,
                                        formatter: function (val) {
                                            var val_ = String(val).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") 
                                            // val = val / 1000000 + "M"
                                            return val_
                                        }
                                    },
                                    total: {
                                        show: false,
                                        showAlways: true,
                                        label: 'Total',
                                        color: '#888ea8',
                                        // formatter: function (val) {
                                        //     var total_sum = [naqd_som, naqd_dollar, plastik, nasiya_som, nasiya_dollar, transfer, skidka_som, skidka_dollar]
                                        //     // var val_ = String(val).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") 
                                        //     let val = val / 1000000 + "M"
                                        //     var total = 0;
                                        //     for (var i in total_sum) {
                                        //         total += arr[i];
                                        //     }
                                        //     return total

                                        formatter: function (w) {
                                            return w.globals.seriesTotals.reduce(function (a, b) {
                                                return String(a + b).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")
                                            }, 0)
                                        }
                                    }
                                }
                            }
                        }
                    },
                    stroke: {
                        show: true,
                        width: 25,
                    },
                    
                    series: [naqd_som, naqd_dollar, plastik, nasiya_som, nasiya_dollar, transfer, skidka_som, skidka_dollar],
                    labels: ['Naqd Som', 'Naqd Dollar', 'Plastik', 'Nasiya Som', 'Nasiya Dollar', 'Transfer', 'Skidka Som', 'Skidka Dollar'],
                    responsive: [{
                        breakpoint: 1599,
                        options: {
                            chart: {
                                width: '350px',
                                height: '400px'
                            },
                            legend: {
                                position: 'bottom'
                            }
                        },

                        breakpoint: 1439,
                        options: {
                            chart: {
                                width: '250px',
                                height: '390px'
                            },
                            legend: {
                                position: 'bottom'
                            },
                            plotOptions: {
                                pie: {
                                    donut: {
                                        size: '65%',
                                    }
                                }
                            }
                        },
                    }]
                }
                var chart = new ApexCharts(
                    document.querySelector("#chart-2"),
                    options
                );
                chart.render();
            }
        });
    });
    
    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, 10) == ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(10));
                break;
            }
            }
        }
      return cookieValue;
    }
    $(document).ready(function(){
        $('#rangeCalendarFlatpickr').on("change", function (){
            var csrfToken = getCSRFToken();
            var date1 = $('#rangeCalendarFlatpickr').val().slice(0, 10);
            var date2 = $('#rangeCalendarFlatpickr').val().slice(14, 24);
            var dt = JSON.stringify({
                date1:date1,
                date2:date2,
            })
            $.ajax({
                headers: { "X-CSRFToken": csrfToken },
                type: "POST",
                url: "{% url 'datahome' %}",
                data: dt,
                success: function(data11) {
                    console.log(data11);
                    var filials = data11['filials'];
                    var salers = data11['salers'];
                    var naqd_som = data11['naqd_som'];
                    var naqd_dollar = data11['naqd_dollar'];
                    var plastik = data11['plastik'];
                    var nasiya_som = data11['nasiya_som'];
                    var nasiya_dollar = data11['nasiya_dollar'];
                    var transfer = data11['transfer'];
                    var skidka_som = data11['skidka_som'];
                    var skidka_dollar = data11['skidka_dollar'];
                    var yalpi_summa = data11['yalpi_daromad'];
                    $("#fil").empty();
                    var summ = 0;
                    var i = 1;
                    for(dt of filials){
                        var tr = `<tr>
                                    <td><div class="td-content customer-name">`+i+`</div></td>
                                    <td><div class="td-content customer-name">`+dt.name+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.naqd_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.naqd_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.plastik).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.nasiya_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.nasiya_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.transfer).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.skidka_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                    <td><div class="td-content pricing">`+String(dt.skidka_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")+`</div></td>
                                </tr>`;
                        i++;
                        $("#fil").append(tr);
                        summ = summ + dt.naqd_som + dt.plastik + dt.nasiya_som;
                    }
                    console.log(summ,"bir nimalar keldimi")
                    $('#jami').empty();
                    $('#jami').append('Jami : ', summ);
                    $("#sel").empty();
                    for(dt of salers){
                        if(dt.staff == 3) {
                            
                            var tr = `<tr>
                                <td><div class="td-content customer-name">` + dt.name + `</div></td>
                                <td><div class="td-content pricing">` + dt.filial + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.naqd_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") +`</div></td>
                                <td><div class="td-content pricing">` + String(dt.naqd_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.plastik).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.nasiya_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.nasiya_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing>` + String(dt.transfer).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.skidka_som).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                                <td><div class="td-content pricing">` + String(dt.skidka_dollar).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ") + `</div></td>
                            </tr>`;
                            $('#sel').append(tr);

                        }
                    }
                    
                    }
            });
        });
    });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        var classic = document.querySelectorAll('.naqd_som_money').length
        console.log(classic)
        for (let i = 0; i < document.querySelectorAll('.naqd_som_money').length; i++) {
            let cash_number = document.querySelectorAll('.naqd_som_money')[i];
            let cash = Number(cash_number.innerText).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$& ');
            cash_number.innerText = cash.slice(0,cash.length-2);
        }

    </script>


<script>
    $(document).ready(function () {
    $('table').each(function () {
        $(this).DataTable({
        dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
        buttons: {
            buttons: [
            { extend: 'excel', className: 'btn' },
            ]
        },
        "oLanguage": {
            "oPaginate": {
            "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
            "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
            },
            "sInfo": " _PAGE_ / _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Izlash",
            "sLengthMenu": "Results :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [10, 20, 50, 100],
        "pageLength": 15,
        searching: false,
        paging: false,
        scrollX:true,
        scrollY: "500px"
        });
    });
    });

</script>


<script>
//     try {


// $(document).ready(function () {
//     let year = "{{filters.year}}"

//     let url = `/charthome/?year=${year}`
//     $.ajax({
//         type: 'get',
//         url: url,
//         success: function (data) {
//             var kirims = data['kirims'];
//             var chiqims = data['chiqims'];
//             var yalpi = data['yalpi']
//             var nasiyas = data['nasiyas']
//             var options1 = {
//                 chart: {
//                     fontFamily: 'Nunito, sans-serif',
//                     height: 365,
//                     type: 'area',
//                     zoom: {
//                         enabled: false
//                     },
//                     dropShadow: {
//                         enabled: true,
//                         opacity: 0.3,
//                         blur: 5,
//                         left: -7,
//                         top: 22
//                     },
//                     toolbar: {
//                         show: false
//                     },
//                     events: {
//                         mounted: function (ctx, config) {
//                             const highest1 = ctx.getHighestValueInSeries(0);
//                             const highest2 = ctx.getHighestValueInSeries(1);
//                             const highest3 = ctx.getHighestValueInSeries(2);
//                             const highest4 = ctx.getHighestValueInSeries(4);

//                             ctx.addPointAnnotation({
//                                 x: new Date(ctx.w.globals.seriesX[0][ctx.w.globals.series[0].indexOf(highest1)]).getTime(),
//                                 y: highest1,
//                                 label: {
//                                     style: {
//                                         cssClass: 'd-none'
//                                     }
//                                 },
//                                 customSVG: {
//                                     SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#1b55e2" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
//                                     cssClass: undefined,
//                                     offsetX: -8,
//                                     offsetY: 5
//                                 }
//                             })

//                             ctx.addPointAnnotation({
//                                 x: new Date(ctx.w.globals.seriesX[1][ctx.w.globals.series[1].indexOf(highest2)]).getTime(),
//                                 y: highest2,
//                                 label: {
//                                     style: {
//                                         cssClass: 'd-none'
//                                     }
//                                 },
//                                 customSVG: {
//                                     SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#e7515a" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
//                                     cssClass: undefined,
//                                     offsetX: -8,
//                                     offsetY: 5
//                                 }
//                             })
//                             ctx.addPointAnnotation({
//                                 x: new Date(ctx.w.globals.seriesX[2][ctx.w.globals.series[2].indexOf(highest3)]).getTime(),
//                                 y: highest3,
//                                 label: {
//                                     style: {
//                                         cssClass: 'd-none'
//                                     }
//                                 },
//                                 customSVG: {
//                                     SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#e7515a" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
//                                     cssClass: undefined,
//                                     offsetX: -8,
//                                     offsetY: 5
//                                 }
//                             })
                            
//                             ctx.addPointAnnotation({
//                                 x: new Date(ctx.w.globals.seriesX[3][ctx.w.globals.series[3].indexOf(highest4)]).getTime(),
//                                 y: highest4,
//                                 label: {
//                                     style: {
//                                         cssClass: 'd-none'
//                                     }
//                                 },
//                                 customSVG: {
//                                     SVG: '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#e4eb10;" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>',
//                                     cssClass: undefined,
//                                     offsetX: -8,
//                                     offsetY: 5
//                                 }
//                             })
//                         },
//                     }
//                 },
//                 colors: ['#1b55e2', '#e7515a', '#00AFB9', '#e4eb10'],
//                 dataLabels: {
//                     enabled: false
//                 },
//                 markers: {
//                     discrete: [{
//                         seriesIndex: 0,
//                         dataPointIndex: 7,
//                         fillColor: '#000',
//                         strokeColor: '#000',
//                         size: 5
//                     }, {
//                         seriesIndex: 2,
//                         dataPointIndex: 11,
//                         fillColor: '#000',
//                         strokeColor: '#000',
//                         size: 4
//                     }]
//                 },
//                 subtitle: {
//                   text: 'Savdo',
//                   align: 'left',
//                   margin: 0,
//                   offsetX: -10,
//                   offsetY: 35,
//                   floating: false,
//                   style: {
//                     fontSize: '14px',
//                     color:  '#888ea8'
//                   }
//                 },
//                 title: {
//                 //   text: 'Bordo',
//                   align: 'left',
//                   margin: 0,
//                   offsetX: -10,
//                   offsetY: 0,
//                   floating: false,
//                   style: {
//                     fontSize: '25px',
//                     color:  '#0e1726'
//                   },
//                 },
//                 stroke: {
//                     show: true,
//                     curve: 'smooth',
//                     width: 2,
//                     lineCap: 'square'
//                 },
//                 series: [{
//                     name: 'Kirim Som',
//                     data: kirims
//                 }, 
//                 {
//                     name: 'Chiqim So`mda',
//                     data: chiqims
//                 },
//                 {
//                     name: 'Yalpi so`mda',
//                     // data: [12,13,140000000,1500000000000,160000000000000,1700000000,1800000000000,19000000,2000000]
//                     data: yalpi
//                 },
//                 {
//                     name: 'Nasiya',
//                     // data: [12,13,140000000,1500000000000,160000000000000,1700000000,1800000000000,19000000,2000000]
//                     data: nasiyas
//                 },
//             ],
//                 labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
//                 xaxis: {
//                     axisBorder: {
//                         show: false
//                     },
//                     axisTicks: {
//                         show: false
//                     },
//                     crosshairs: {
//                         show: true
//                     },
//                     labels: {
//                         offsetX: 0,
//                         offsetY: 5,
//                         style: {
//                             fontSize: '12px',
//                             fontFamily: 'Nunito, sans-serif',
//                             cssClass: 'apexcharts-xaxis-title',
//                         },
//                     }
//                 },
//                 yaxis: {
//                     labels: {
//                         formatter: function (value, index) {
//                             // return (value / 1000000) + 'M'
//                             return String(value).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ")
//                         },
//                         offsetX: -22,
//                         offsetY: 0,
//                         style: {
//                             fontSize: '12px',
//                             fontFamily: 'Nunito, sans-serif',
//                             cssClass: 'apexcharts-yaxis-title',
//                         },
//                     }
//                 },
//                 grid: {
//                     borderColor: '#e0e6ed',
//                     strokeDashArray: 5,
//                     xaxis: {
//                         lines: {
//                             show: true
//                         }
//                     },
//                     yaxis: {
//                         lines: {
//                             show: false,
//                         }
//                     },
//                     padding: {
//                         top: 0,
//                         right: 0,
//                         bottom: 0,
//                         left: -10
//                     },
//                 },
//                 legend: {
//                     position: 'top',
//                     horizontalAlign: 'right',
//                     offsetY: -50,
//                     fontSize: '16px',
//                     fontFamily: 'Nunito, sans-serif',
//                     markers: {
//                         width: 10,
//                         height: 10,
//                         strokeWidth: 0,
//                         strokeColor: '#fff',
//                         fillColors: undefined,
//                         radius: 12,
//                         onClick: undefined,
//                         offsetX: 0,
//                         offsetY: 0
//                     },
//                     itemMargin: {
//                         horizontal: 0,
//                         vertical: 20
//                     }
//                 },
//                 tooltip: {
//                     theme: 'dark',
//                     marker: {
//                         show: true,
//                     },
//                     x: {
//                         show: false,
//                     }
//                 },
//                 fill: {
//                     type: "gradient",
//                     gradient: {
//                         type: "vertical",
//                         shadeIntensity: 1,
//                         inverseColors: !1,
//                         opacityFrom: .28,
//                         opacityTo: .05,
//                         stops: [45, 100]
//                     }
//                 },
//                 responsive: [{
//                     breakpoint: 575,
//                     options: {
//                         legend: {
//                             offsetY: -30,
//                         },
//                     },
//                 }]
//             }
//             var chart1 = new ApexCharts(
//                 document.querySelector("#revenueMonthly"),
//                 options1
//             );
//             chart1.render()
//         }
//     });



// });



// } catch (e) {
// console.log(e);
// }
  // Backenddan kelgan valyutalar ma'lumoti (masalan, fetch yoki template context orqali)
  $(document).ready(function () {
    let year = "{{filters.year}}";

    let url = `/charthome/?year=${year}`;
    $.ajax({
        type: 'get',
        url: url,
        success: function (data) {
            var valutas = data['valutas'];

            // Ranglar har bir valyuta uchun
            let colors = ['#1b55e2', '#e7515a', '#00AFB9', '#e4eb10', '#6f42c1', '#fd7e14', '#20c997', '#6610f2'];

            // ApexCharts uchun series massivini yasaymiz
            let series = [];
            valutas.forEach(function(valuta, i) {
                series.push({
                    name: valuta.name,
                    data: valuta.summas,
                });
            });

            var options = {
                chart: {
                    fontFamily: 'Nunito, sans-serif',
                    height: 365,
                    type: 'area',
                    zoom: { enabled: false },
                    toolbar: { show: false },
                    dropShadow: {
                        enabled: true,
                        opacity: 0.3,
                        blur: 5,
                        left: -7,
                        top: 22
                    }
                },
                colors: colors.slice(0, valutas.length), // faqat kerakli ranglarni olish
                dataLabels: { enabled: false },
                stroke: {
                    curve: 'smooth',
                    width: 2,
                    lineCap: 'square'
                },
                series: series,
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                xaxis: {
                    axisBorder: { show: false },
                    axisTicks: { show: false },
                    labels: {
                        offsetY: 5,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Nunito, sans-serif',
                        }
                    }
                },
                yaxis: {
                    labels: {
                        formatter: function (value) {
                            return String(value).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");
                        },
                        offsetX: -22,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Nunito, sans-serif',
                        }
                    }
                },
                grid: {
                    borderColor: '#e0e6ed',
                    strokeDashArray: 5,
                    xaxis: { lines: { show: true } },
                    yaxis: { lines: { show: false } },
                    padding: { top: 0, right: 0, bottom: 0, left: -10 }
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    offsetY: -50,
                    fontSize: '16px',
                    fontFamily: 'Nunito, sans-serif',
                    markers: { width: 10, height: 10, radius: 12 }
                },
                tooltip: {
                    theme: 'dark',
                    marker: { show: true },
                    x: { show: false }
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        type: "vertical",
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.28,
                        opacityTo: 0.05,
                        stops: [45, 100]
                    }
                },
                responsive: [{
                    breakpoint: 575,
                    options: {
                        legend: { offsetY: -30 },
                    },
                }]
            };

            var chart = new ApexCharts(document.querySelector("#revenueMonthly"), options);
            chart.render();
        }
    });
});


</script>
    
{% endblock %}