{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
       <style>
        .nxl-content-sidebar-item {
            padding: 0;
            list-style: none;
        }

        .nxl-content-sidebar-item .nav-item {
            margin-bottom: 5px;
        }

        .nxl-content-sidebar-item .nav-link {
            padding: 10px 15px;
            color: #333 !important;
            text-decoration: none;
            display: block;
            border-radius: 4px;
            transition: all 0.3s;
        }

        .nxl-content-sidebar-item .nav-link:hover {
            background-color: #f5f5f5 !important;
        }

        .nxl-content-sidebar-item .nav-link.active {
            background-color: #d6f0f5 !important;
            font-weight: 500;
            color: #000 !important;
        }
    </style>
{% endblock css %}
{% block content %}
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-md-2">
                        <div class="widget-content widget-content-area">
                            <ul class="nav flex-column nxl-content-sidebar-item">
                                {% if custom_user_profile.is_measurement_type %}
                                <li class="nav-item">
                                    <a href="{% url 'measurement_type_list' %}" class="nav-link {% if request.resolver_match.url_name == 'measurement_type_list' %}active{% endif %}">
                                    <i class="fa-solid fa-scale-unbalanced-flip"></i>
                                        <span>O'lchov turlari</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if custom_user_profile.is_price_type %}
                                <li class="nav-item">
                                    <a href="{% url 'price_type' %}" class="nav-link {% if request.resolver_match.url_name == 'price_type' %}active{% endif %}">
                                        <i class="fa-solid fa-tag"></i>
                                        <span>Narx Turi</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if custom_user_profile.is_filial_list %}
                                <li class="nav-item">
                                    <a href="{% url 'filial_list' %}" class="nav-link {% if request.resolver_match.url_name == 'filial_list' %}active{% endif %}">
                                        <i class="fa-solid fa-code-branch"></i>
                                        <span>Filial</span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if custom_user_profile.is_nds %}
                                <li class="nav-item">
                                    <a href="{% url 'nds_page' %}" class="nav-link {% if request.resolver_match.url_name == 'nds_page' %}active{% endif %}">
                                        <i class="fa-solid fa-percent"></i>
                                        <span>NDS</span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if custom_user_profile.is_kadrlar %}
                                <li class="nav-item">
                                    <a href="{% url 'users_restrictions' %}" class="nav-link {% if request.resolver_match.url_name == 'users_restrictions' %}active{% endif %}">
                                        <i class="fa-solid fa-users"></i>
                                        <span>Foydalanuvchilar</span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if custom_user_profile.is_valyuta %}
                                <li class="nav-item">
                                    <a href="{% url 'valyuta_list' %}" class="nav-link {% if request.resolver_match.url_name == 'valyuta_list' %}active{% endif %}">
                                        <i class="fa-solid fa-coins"></i>
                                        <span>Valyuta</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if custom_user_profile.is_kassa_merge %}
                                <li class="nav-item">
                                    <a href="{% url 'kassa_merge' %}" class="nav-link {% if request.resolver_match.url_name == 'kassa_merge' %}active{% endif %}">
                                        <i class="fa-solid fa-link"></i>
                                        <span>Kassa Biriktirish</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if custom_user_profile.is_kassa_new %}
                                <li class="nav-item">
                                    <a href="{% url 'kassa_new_list' %}" class="nav-link {% if request.resolver_match.url_name == 'kassa_new_list' %}active{% endif %}">
                                        <i class="fa-solid fa-cash-register"></i>
                                        <span>Kassa</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if custom_user_profile.is_money_circulation %}
                                <li class="nav-item">
                                    <a href="{% url 'money_circulation' %}" class="nav-link {% if request.resolver_match.url_name == 'money_circulation' %}active{% endif %}">
                                        <i class="fa-solid fa-money-bill-transfer"></i>
                                        <span>Pul Muomalasi</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'last_seen' %}" class="nav-link {% if request.resolver_match.url_name == 'last_seen' %}active{% endif %}">
                                        <i class="fa-solid fa-seedling"></i>
                                        <span>Oxirgi ko'rilgan</span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a href="{% url 'debtor_type' %}" class="nav-link {% if request.resolver_match.url_name == 'debtor_type' %}active{% endif %}">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <span>Mijoz Turi</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'region' %}" class="nav-link {% if request.resolver_match.url_name == 'region' %}active{% endif %}">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        <span>Mintaqa</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'teritory' %}" class="nav-link {% if request.resolver_match.url_name == 'teritory' %}active{% endif %}">
                                        <i class="fa-solid fa-location-dot"></i>    
                                        <span>Hudud</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'groups' %}" class="nav-link {% if request.resolver_match.url_name == 'groups' %}active{% endif %}">
                                       <i class="fa-solid fa-layer-group"></i>   
                                        <span>Maxsulot guruhi</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'rounding_settings' %}" class="nav-link {% if request.resolver_match.url_name == 'groups' %}active{% endif %}">
                                       <i class="fa-solid fa-layer-group"></i>   
                                        <span>Savdo yahlitlash</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="row mb-2">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                                        Yaratish
                                    </button>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form action="{% url 'measurement_type_add' %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Nomi</label>
                                                    <input type="text" class="form-control" id="recipient-name" name="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="col-form-label">Kodi</label>
                                                    <input type="number" class="form-control" name="code" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mb-4 mt-4">
                                <table class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th>Nomi</th>
                                            <th>Kodi</th>
                                            <th>Tahrirlash</th>
                                            <th>Ochirish</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for mesur in mesur %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ mesur.name }}</td>
                                                <td>{{ mesur.code }}</td>
                                                <td><button class="btn btn-warning" type="button" data-toggle="modal" data-target="#exampleModalEdit{{ mesur.id }}"><i class="fa-solid fa-pen-to-square"></i></button></td>
                                                <td><button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModalDelete{{ mesur.id }}"><i class="fa-solid fa-trash"></i></button></th>
                                            </tr>
                                            <div class="modal fade" id="exampleModalEdit{{ mesur.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <form action="{% url 'measurement_type_edit' mesur.id %}" method="post" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <label for="recipient-name" class="col-form-label">Nomi</label>
                                                                    <input type="text" class="form-control" id="recipient-name" value="{{ mesur.name }}" name="name" required>
                                                                </div>
                                                                 <div class="form-group">
                                                                    <label  class="col-form-label">Kodi</label>
                                                                    <input type="number" class="form-control" value="{{mesur.code}}" name="code" required>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="exampleModalDelete{{ mesur.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                            <h5>Siz ma’lumotni ochirmoqchimisiz</h5>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                <button type="submit" class="btn btn-primary"><a href="{% url 'measurement_type_del' mesur.id %}" style="color: white !important;">Saqlash</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 15
        } );

        let data = []

        var rows = trs.cell( {selected:true} ).data();

        console.log(rows.length);

        
        let input = $('.form-control[type=search]')
        input.on('keyup', function() {

            trs.rows({"search":"applied"}).every(()=>data.push(this.data()))
            
            let som = 0
            console.log();
        })
    </script>
{% endblock js %}
