{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
        
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <!-- END PAGE LEVEL CUSTOM STYLES -->
        <style>
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 2000;
            width: 30rem;
        }
    </style>
{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <meta name="csrf-token" content="{{ csrf_token }}">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div id="alert-container"></div>
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

                        <div class="widget-content widget-content-area br-6">
                            <form>
                                <div class="d-flex justify-content-between">
                                    <div class="col-md-6 d-flex">
                                        <select style="margin-right: 50px;" name="deliver" class="form-control">
                                            <option value="">- - - - - - - </option>                                           
                                            {% for del in delivers %}        
                                                {% if filters.deliver == del.id %}
                                                    <option value="{{ del.id }}" selected>{{ del.name }}</option>
                                                {% else %}
                                                    <option value="{{ del.id }}">{{ del.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <select style="margin-right: 50px;" name="season" class="form-control">
                                            <option value="">- - - - - - - </option>                                       
                                            {% for s in seasons %}     
                                                {% if filters.season == s.id %}
                                                    <option value="{{ s.id }}" selected>{{ s.name }}</option>
                                                {% else %}
                                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary">Filterlash</button>
                                    </div>
                                    

                                    
                                    <div>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                            Nolga tushirish
                                        </button>

                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_product_add" id="" onclick="">
                                                                Yangi  qo'shish
                                                            </button>

                                    
                                    </div>
                                </div>
                        </form>
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th>Mahsulot</th>
                                            <th>Ishlab chiqaruvchi</th>
                                            <th>Fasl</th>
                                            <th>Paketdagi soni</th>
                                            <!-- <th>So`m</th> -->
                                            <th>Soni</th>
                                            <!-- <th>So`m * Soni</th> -->
                                            <!-- <th>Dollar</th> -->
                                            <th>Min. Soni</th>
                                            <th>Filial</th>
                                            <th>Guruh</th>
                                            <th>Barcode</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for productfilial in productfilials %}
                                            <tr class="qwerty" data-id="qwer{{productfilial.id}}" data-som="{{ productfilial.som }}">
                                                <td class="">{{ forloop.counter }}</td>
                                                <td>{{ productfilial.name }}</td>
                                                <td>{% if productfilial.preparer %}{{ productfilial.preparer }}{% else %}-{% endif %}</td>
                                                <td>{{ productfilial.get_season_display|default_if_none:'' }}</td>
                                                <td>{{ productfilial.pack }}</td>
                                                <!-- <td class="som" data-som="{{ productfilial.som }}">{{ productfilial.som|intcomma }}</td> -->
                                                <td class="quantity" data-quantity="{{ productfilial.quantity|floatformat:0 }}">{{ productfilial.quantity|floatformat:0|intcomma }}</td>
                                                <!-- <td class="allprice" data-all="{{ productfilial.som|mul:productfilial.quantity|floatformat:0 }}">{{ productfilial.som|mul:productfilial.quantity|floatformat:0|intcomma }}</td> -->
                                                <!-- <td class="dollar" data-dollar="{{ productfilial.dollar }}">{{ productfilial.dollar|intcomma }}</td> -->
                                                <td>{{ productfilial.product.min_count|floatformat:0|intcomma }}</td>
                                                <td>{{ productfilial.filial }}</td>
                                                <td>{{ productfilial.barcode }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ productfilial.id }}" onclick="SaveBarcode({{ productfilial.id }})">
                                                        Barcode
                                                    </button>
                                                </td>
                                                <td>
                                                    <button onclick="price_types('{{productfilial.id}}')" type="button" class="btn btn-primary" data-toggle="modal" id="recieve_item_add_button" data-target="#recieve_item_add_modal{{productfilial.id}}">
                                                        Narx <i class="fa fa-edit"></i> 
                                                    </button>
                                                </td>
                                            </tr>
                                      
                                            
                                            <div class="modal fade" id="exampleModal{{ productfilial.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <img id="barcodeImage{{ productfilial.id }}" src="" alt="Barcode" style="margin-left: 50px; display: none;">
                                                         <select id="sizeSelect{{ productfilial.id }}">
                                                                <option data-width="320" data-height="240" >(40 × 30 mm)</option>
                                                                <option data-width="400" data-height="240" >(50 × 30 mm)</option>
                                                                <option data-width="400" data-height="320" >(50 × 40 mm)</option>
                                                                <option data-width="480" data-height="320" >(60 × 40 mm)</option>
                                                                <option data-width="560" data-height="400" >(70 × 50 mm)</option>
                                                                <option data-width="640" data-height="480" >(80 × 60 mm)</option>
                                                                <option data-width="800" data-height="480" >(100 × 60 mm)</option>
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                                                            <button type="button" class="btn btn-primary" onclick="printImage({{ productfilial.id }})">Print</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="">Jami:</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th id="quantity1">{{ productfilials_total_quantity|intcomma }}| </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <script>
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            function printImage(id) {
                var imageUrl = $("#barcodeImage" + id).attr("src");
                var sizeSelect = document.getElementById("sizeSelect" + id);
                var selectedOption = sizeSelect.options[sizeSelect.selectedIndex];

                var width = selectedOption.getAttribute("data-width");
                var height = selectedOption.getAttribute("data-height");

                if (imageUrl) {
                    var printWindow = window.open('', '_blank');
                    printWindow.document.write('<html><head><title>Chop etish</title></head><body>');
                    printWindow.document.write('<img id="printImg" src="' + imageUrl + '" style="width:' + width + 'px; height:' + height + 'px;"/>');
                    printWindow.document.write('</body></html>');
                    printWindow.document.close();

                    var img = printWindow.document.getElementById("printImg");
                    img.onload = function () {
                        printWindow.focus();
                        printWindow.print();
                        printWindow.close();
                    };
                } else {
                    alert("Rasm mavjud emas.");
                }
            }

    function SaveBarcode(id) {
    console.log("📌 SaveBarcode chaqirildi! ID:", id);

    $.ajax({
        url: "/create_barcode/" + id,
        type: "GET",
        headers: {
            "X-CSRFToken": csrfToken
        },
        success: function(response) {
            console.log("✅ AJAX muvaffaqiyatli! Image URL:", response.image);

            setTimeout(function() {
                var imgElement = document.getElementById('barcodeImage' + id);
                console.log("🔍 Element topildi:", imgElement);

                if (imgElement) {
                    imgElement.setAttribute('src', response.image);
                    imgElement.style.display = "block"; // Rasmni ko‘rsatish
                } else {
                    console.error("❌ Xato! Element topilmadi: barcodeImage" + id);
                }
            }, 500); // 0.5 soniya kutish (Modal to‘liq yuklanishi uchun)
        },

        error: function(xhr, status, error) {
            console.error("❌ AJAX xato!", status, error);
        }
    });
}
        </script>


        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Maxsulotlarni nolga tushirmoqchimisiz?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                  <a href="{% url 'null_products' %}" type="button" class="btn btn-primary">Ha</a>
                </div>
              </div>
            </div>
        </div>


        <div class="modal fade" id="new_product_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="{% url 'new_product_add' %}" class="modal-content" method="post"  style="width: 700px;">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle1">Yangi qoshish</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Nomi</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Ishlab chiqaruvchi</label>
                                    <div class="input-group mb-2">
                                        <select class="form-control searchable" required name="deliver" id="deliverSelect">
                                            <option value="">- - - - - - - - </option>
                                            {% for a in delivers %}
                                                <option value="{{ a.id }}">{{ a.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#deliverModal">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">O‘lchov</label>
                                    <div class="input-group mb-2">
                                        <select class="form-control searchable" required name="measurement" id="measurementSelect">
                                            <option value="">- - - - - - - - </option>
                                            {% for a in measurements %}
                                                <option value="{{ a.id }}">{{ a.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#measurementModal">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Fasl</label>
                                    <div class="input-group mb-2">
                                        <select class="form-control searchable" required name="season" id="seasonSelect">
                                            <option value="">- - - - - - - - </option>
                                            {% for a in seasons %}
                                                <option value="{{ a.id }}">{{ a.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Min miqdor</label>
                                    <input type="number" class="form-control" name="min_count" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Paketdagi soni</label>
                                    <input type="number" class="form-control" name="pack" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Guruh</label>
                                    <div class="input-group mb-2">
                                        <select class="form-control searchable" required name="group" id="groupSelect">
                                            <option value="">- - - - - - - - </option>
                                            {% for a in groups %}
                                                <option value="{{ a.id }}">{{ a.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#groupModal">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Turi</label>
                                    <select name="ready" class="form-control" id="" required>
                                        <option value="">- - - - - - - </option>
                                        {% for i in ready_types %}
                                            <option value="{{i.id}}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Polka kodi</label>
                                    <input type="text" class="form-control" name="shelf_code">
                                </div>
                                <div class="col-md-12">
                                    <label for="">Barcode</label>
                                    <div id="barcode_container">
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control barcode-input" oninput="push(this)">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-secondary" onclick="addInput()">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="data_list" name="list_barcode" />

                                <script>
                                    let isBarcodeDuplicate = false;

                                    function addInput() {
                                        const inputs = document.querySelectorAll(".barcode-input");
                                        const lastInput = inputs[inputs.length - 1];

                                        const inputValue = lastInput.value.trim();

                                        // Agar qiymat yo'q yoki takrorlangan bo‘lsa, alert va return
                                        if (inputValue === '') {
                                            showAlert("Barcode kiritilmagan!", "warning");
                                            return;
                                        }

                                        if (isBarcodeDuplicate) {
                                            showAlert("Bu barcode allaqachon mavjud!", "warning");
                                            return;
                                        }

                                        // Yangi input yaratish
                                        const container = document.getElementById("barcode_container");
                                        const group = document.createElement("div");
                                        group.className = "input-group mb-2";
                                        group.innerHTML = `
                                            <input type="text" class="form-control barcode-input" oninput="push(this)">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-secondary" onclick="addInput()">+</button>
                                            </div>
                                        `;
                                        container.appendChild(group);
                                    }

                                    function push(item) {
                                        const inputValue = item.value.trim();

                                        if (inputValue === '') {
                                            isBarcodeDuplicate = true;  // Bo‘sh bo‘lsa, "+" bloklansin
                                            disableAddButtons(true);
                                            return;
                                        }

                                        $.ajax({
                                            url: "{% url 'filter_product_barcode' %}",
                                            type: "POST",
                                            data: JSON.stringify({ 'barcode': inputValue }),
                                            contentType: "application/json",
                                            headers: {
                                                "X-CSRFToken": csrfToken
                                            },
                                            success: function (response) {
                                                if (response.data.message) {
                                                    showAlert(response.data.message, 'warning');
                                                    isBarcodeDuplicate = true;
                                                    disableAddButtons(true);
                                                } else {
                                                    isBarcodeDuplicate = false;
                                                    disableAddButtons(false);
                                                }
                                            },
                                            error: function () {
                                                showAlert("Server bilan bog'lanishda xatolik", "danger");
                                                isBarcodeDuplicate = true;
                                                disableAddButtons(true);
                                            }
                                        });
                                    }

                                    function disableAddButtons(disable) {
                                        const buttons = document.querySelectorAll("#barcode_container .btn.btn-secondary");
                                        buttons.forEach(btn => {
                                            btn.disabled = disable;
                                        });
                                    }

                                    function Pushdata() {
                                        const inputs = document.querySelectorAll(".barcode-input");
                                        const data = [];
                                        inputs.forEach(input => {
                                            if (input.value.trim() !== '') {
                                                data.push(input.value.trim());
                                            }
                                        });
                                        document.getElementById('data_list').value = JSON.stringify(data);
                                    }

                                    // Optional: Alert ko‘rsatish funksiyasi (agar yo‘q bo‘lsa)
                                    function showAlert(message, type) {
                                        const alertContainer = document.getElementById("alert-container");
                                        if (!alertContainer) return;
                                        const alert = document.createElement("div");
                                        alert.className = `alert alert-${type}`;
                                        alert.innerText = message;
                                        alertContainer.appendChild(alert);
                                        setTimeout(() => alert.remove(), 3000);
                                    }
                                </script>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                        <button type="submit" class="btn btn-primary" onclick="Pushdata()">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>

        {% for productfilial in productfilials %}
        <div class="modal fade" id="recieve_item_add_modal{{ productfilial.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content" method="post" action="{% url 'edit_product_prices' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="recieve_item_add_product_name">Yangi qoshish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                    <div class="form-group" id="recieve_item_add_product_div{{productfilial.id}}">
                        <!-- <input type="hidden" name="product" id="recieve_item_add_product_id">
                        <input type="hidden" name="recieve" id="recieve_item_add_recieve_id"> -->
                        <input type="hidden" name="item" value="{{productfilial.id}}">
                        <label for="">Sotish narx </label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N</th>
                                    <th>Valyuta</th>
                                    {% for p in price_types %}
                                        <th>{{ p.name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in productfilial.pricetypevaluta_prices %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ row.valuta }}</td>
                                        {% for s in row.summas %}
                                            <td>
                                                <input step="any"
                                                    type="number" 
                                                    class="form-control"
                                                    name="price_{{ s.id }}_{{ row.valyuta_id }}" 
                                                    value="{{ s.summa }}"
                                                />
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>

            </div>
            </form>
        </div>
        </div>
        {% endfor %}



        <div class="modal fade" id="deliverModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="deliverForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Ishlab chiqaruvchi</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control mb-2" placeholder="Nomi" required>
          <input type="text" name="phone1" class="form-control mb-2" placeholder="Telefon 1" required>
          <input type="text" name="phone2" class="form-control mb-2" placeholder="Telefon 2">
          <!-- <select name="viloyat_id" class="form-control" required>
            <option value="">-- Viloyat tanlang --</option>
            {% for v in viloyatlar %}
              <option value="{{ v.id }}">{{ v.name }}</option>
            {% endfor %}
          </select> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Measurement Modal -->
<div class="modal fade" id="measurementModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="measurementForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi O‘lchov</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control" placeholder="O‘lchov nomi" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Group Modal -->
<div class="modal fade" id="groupModal" tabindex="-1">
  <div class="modal-dialog">
    <form id="groupForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yangi Guruh</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" name="name" class="form-control" placeholder="Guruh nomi" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Saqlash</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block js %}
     <script>
        const showAlert = (message, type) => {
            const alertElement = $(`
                <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                    ${message}
                </div>
            `);

            $("#alert-container").append(alertElement);
            setTimeout(() => {
                alertElement.fadeOut(500, function () { $(this).remove(); });
            }, 3000);
        };

    </script>
    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            // "lengthMenu": [10, 20, 50, 100, 100000],
            // "pageLength": 10000000000
            // "LengthChange" : false, //thought this line could hide the LengthMenu
            // "Info":false,  
            "bPaginate": false,
        } );

        let data = []

        var rows = trs.cell( {selected:true} ).data();

        console.log(rows.length);

        
        let input = $('.form-control[type=search]')
        input.on('keyup', function() {

            trs.rows({"search":"applied"}).every(()=>data.push(this.data()))
            
            let som = 0
            console.log();
            
            
            // Array.from(rows).forEach(function(item, index) {
            //     som += parseInt(item.getAttribute('data-som'))
            // })
            // som = som.toLocaleString()
            // $('#som1').text(som)
        })
    </script>

    <!-- <script>
        function price_types(id) {
            $('#recieve_item_add_product_div .pr_type').remove();
            let price_types = $.get('/api/productpricetype/', { product:  id}, function(data) {
                console.log(data);
                data.forEach(element => {
                    $(`#recieve_item_add_product_div${id}`).append(
                        `
                        <label class="pr_type" for="">${element.name}</label>
                        <input type="number" name="${element.id}" class="form-control pr_type" value="${element.price}">
                        `
                    )
                });
            });
        }
    </script> -->




    <script>
$(document).ready(function () {
    function handleFormSubmit(formId, url, selectId, modalId) {
        $(formId).submit(function (e) {
            e.preventDefault();
            const formData = $(this).serialize();
            $.ajax({
                url: url,
                type: 'POST',
                data: formData + '&csrfmiddlewaretoken={{ csrf_token }}',
                success: function (data) {
                    $(selectId).append(`<option value="${data.id}" selected>${data.name}</option>`);
                    $(modalId).modal('hide');
                    $(formId)[0].reset();
                },
                error: function () {
                    alert("Xatolik yuz berdi!");
                }
            });
        });
    }

    // Yangi obyektlar uchun AJAX
    handleFormSubmit('#deliverForm', '{% url "create_deliver_new" %}', '#deliverSelect', '#deliverModal');
    handleFormSubmit('#measurementForm', '{% url "create_measurement" %}', '#measurementSelect', '#measurementModal');
    handleFormSubmit('#groupForm', '{% url "create_group" %}', '#groupSelect', '#groupModal');
});
</script>
{% endblock js %}
