{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
        
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .line {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #071af2;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
            width: 30rem;
        }
    </style>
    <style>
        .tab {
            display: flex;
            gap: 10px;
            /* border-bottom: 2px solid #ddd; */
            margin-bottom: 10px;
        }
        .tab button {
            background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease;
        }
        .tab button.active {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }
        .tab button:hover {
            color: #0056b3;
        }
        .document {
            display: none;
        }
    </style>
      <style>
        .delete-btn {
              color: red;
              cursor: pointer;
              font-weight: bold;
              transition: transform 0.2s ease;
          }
          .delete-btn:hover {
              transform: scale(1.2);
              color: darkred;
          }
  </style>
{% endblock css %}
{% block content %}
        <meta name="csrf-token" content="{{ csrf_token }}">
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-lg-12">
                        <div id="alert-container"></div>
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                        <div class="col-md-12">
                                            <form action="{% url 'return_customer_add' %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <button class="btn btn-success" id="shop_save" type="submit">Saqlash</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div style="display: flex; gap: 10px; align-items: center;">
                                                            <h5>Yuk jo‘natish №</h5>
                                                            <input type="text" style="width: 60px; border: 1px solid #ddd; border-radius: 5px; padding: 5px;">
                                                            <h5>dan</h5>
                                                            <input type="datetime-local" name="date" value="{{today|date:'Y-m-d H:i'}}" style="border: 1px solid #ddd; border-radius: 5px; padding: 5px;" id="shop_input_date">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label>* Filial</label>
                                                                <select style="width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 5px;" name="filial" required>
                                                                    {% for i in filial %}
                                                                        <option value="{{i.id}}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>* Mijoz</label>
                                                                <select style="width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 5px;" name="debtor" class="searchable" required>
                                                                    <option value="" disabled selected>Mijoz-ni tanlang</option>
                                                                    {% for i in debtor %}
                                                                    <option value="{{i.id}}">{{ i.fio }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>* Valyuta</label>
                                                                <select style="width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 5px; height: 35px;" name="valyuta" required>
                                                                    {% for i in valyuta %}
                                                                    <option value="{{i.id}}">{{ i.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-12"><br></div>
                                        <div class="col-md-12"><div class="line" ></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
{% block js %}
    <script>
        function updateCurrentTime(){
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0'); 
            const day = String(now.getDate()).padStart(2, '0'); 
            const hours = String(now.getHours()).padStart(2, '0'); 
            const minutes = String(now.getMinutes()).padStart(2, '0'); 
            document.getElementById('shop_input_date').value = 
                `${year}-${month}-${day}T${hours}:${minutes}`;
        }
        updateCurrentTime();
        setInterval(updateCurrentTime, 60000);
    </script>
    <script>
        const showAlert = (message, type) => {
            const alertElement = $(`
                <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                    ${message}
                </div>
            `);

            $("#alert-container").append(alertElement);
            setTimeout(() => {
                alertElement.fadeOut(500, function () { $(this).remove(); });
            }, 3000);
        };
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    </script>
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
{% endblock js %}
