{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product </title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link href="{% static 'assets/css/dashboard/dash_2.css'%}" rel="stylesheet" type="text/css" />
    <style>
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
            width: 30rem;
        }
    </style>
{% endblock css %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
                <div class="col-xl-12 col-lg-8 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-8">
                        <table id="zero-config" class="table table-striped dt-table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Maxsulot</th>
                                    <th>Miqdori</th>
                                    <th>Ombor qoldigi</th>
                                    <th>Farqi</th>
                                    <th>Status</th>
                                    <th>Som Kelish narxi</th>
                                    <th>Dollar Kelish narxi</th>
                                </tr>
                            </thead>
                            <tbody>
                                   {% for i in item %}
                                   <tr>
                                        <td class="product_name" data-product_id="{{i.product.id}}">{{i.product.name}}</td>
                                        <td>{{ i.quantity|intcomma }}</td>
                                        <td class="quantity_td">{{ i.old_quantity|intcomma }}</td>
                                        <td class="quantity_td">{{ i.farqi|intcomma }}</td>
                                        <td class="status_td">
                                                {% if i.farqi > 0 %}
                                                <button class="btn btn-primary" ></button>
                                                {% elif 0 > i.farqi %}
                                                <button class="btn btn-danger" ></button>
                                                {% elif i.farqi == 0 %}
                                                <button class="btn btn-success" ></button>
                                                {% endif %}
                                        </td>
                                        <td class="kelish_itog_td">{{i.som_arrival_price|intcomma}}</td>
                                        <td class="sotish_narx_td">{{ i.dollar_arrival_price|intcomma }}</td>
                                    </tr>
                                   {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-md-2">
                            <br>
                        </div>
                        <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        Jami Miqdor: <p style="color: green !important;" id="sum_miqdor">{{totals.quantity|intcomma}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: green !important;" id="som_kelish_narx_sum">{{totals.som_arrival_price|intcomma}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        Dollar: <p style="color: green !important;" id="dollar_kelish_narx_sum">{{totals.dollar_arrival_price|intcomma}}</p>
                                    </div>

                                    <div class="col-md-2" style="border-left: 2px solid #0011ff;">
                                        Ortiqcha Miqdor: <p style="color: green !important;" id="total_plus_miqdor">
                                            {% if totals.farqi > 0 %}
                                            {{ totals.farqi|intcomma }}
                                            {% endif  %}
                                    </p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: green !important;" id="som_kelish_narx_plus">
                                             {% if totals.farqi > 0 %}
                                            {{ totals.farqi_som_arrival_price|intcomma }}
                                            {% endif  %}
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        Dollar: <p style="color: green !important;" id="dollar_kelish_narx_plus">
                                            {% if totals.farqi > 0 %}
                                            {{ totals.farqi_dollar_arrival_price|intcomma }}
                                            {% endif  %}
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6"></div>

                                    <div class="col-md-2" style="border-left: 2px solid #0011ff;">
                                        Kamomat Miqdor: <p style="color:red !important;" id="total_minus_miqdor">
                                            {% if totals.farqi < 0 %}
                                            {{ totals.farqi|intcomma }}
                                            {% endif  %}
                                       </p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: red !important;" id="som_kelish_narx_minus">
                                              {% if totals.farqi < 0 %}
                                            {{ totals.farqi_som_arrival_price|intcomma }}
                                            {% endif  %} </p>
                                    </div>
                                    <div class="col-md-2" >
                                        Dollar: <p style="color: red !important;" id="dollar_kelish_narx_minus">
                                              {% if totals.farqi < 0 %}
                                            {{ totals.farqi_dollar_arrival_price|intcomma }}
                                            {% endif  %} </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $('select.searchable').selectize({ normalize: true });
    </script>
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/dash_2.js'%}"></script>
   
        <script>
         $('#zero-config').DataTable({
            paging: false,
            info: false,
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: [
                { extend: 'excel', className: 'btn' },
            ],
            oLanguage: {
                sInfo: "",
                sSearchPlaceholder: "Izlash",
            },
        });
    </script>
{% endblock js %}
