{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link href="{% static 'assets/css/dashboard/dash_2.css'%}" rel="stylesheet" type="text/css" />
    <style>
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
            width: 30rem;
        }
        th {
            border-bottom: 1px solid blue !important;
        }
    </style>
{% endblock css %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
                <div id="alert-container"></div>
              <script>



                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                const data = [];

                function SelectProduct(element) {
                    if (data.length > 0) {
                        $.ajax({
                            url: `/revision_one_item_add/{{revision.id}}`,
                            type: "POST",
                            data: JSON.stringify(data),
                            headers: {
                                "X-CSRFToken": csrfToken
                            },
                            success: function(response) {
                                data.length = 0;
                            },
                            error: function () {
                            }
                        });
                    }
                    const selectedOption = element.options[element.selectedIndex];
                    const product_name = selectedOption.text;
                    const product_value = element.value;

                    if (!product_value) return;

                    const [id, quantity, som_kelish_narx, dollar_kelish_narx] = product_value.split('|');

                    const table_zero = document.getElementById('zero-config');
                    const tbody = table_zero.querySelector('tbody');
                    const existingProducts = tbody.querySelectorAll('.product_name');

                    let productExists = Array.from(existingProducts).some(product => product.textContent === product_name);
                    if (productExists) {
                        showAlert("Maxsulot allaqachon qo‘shilgan!", "warning");
                    }
                    const newRow = `
                        <tr>
                            <td class="product_name" data-product_id="${id}">${product_name}</td>
                            <td><input type="number" class="form-control" min="0" placeholder="Miqdor kiriting" oninput="pushData(this)"></td>
                            <td class="quantity_td">${quantity}</td>
                            <td class="status_td"></td>
                            <td class="som_kelish_narx_td">${som_kelish_narx}</td>
                            <td class="dollar_kelish_narx_td">${dollar_kelish_narx}</td>
                            <td class="farq_td"></td>
                            <td><button class="btn btn-danger" onclick="DelTbody(this)"><i class="fa-solid fa-trash"></i></button></td>
                        </tr>
                    `;
                    tbody.insertAdjacentHTML('beforeend', newRow);
                    data.length = 0;
                    updateTotals()
                }
                
                function DelTbody(item) {
                    updateTotals()
                    const tr = item.closest('tr');
                    const productId = tr.querySelector('.product_name').dataset.product_id;
                    tr.remove();
                    const index = data.findIndex(el => el.id === productId);
                    if (index !== -1) {
                        data.splice(index, 1);
                    }
                    $.ajax({
                        url: `/revision_one_item_del/{{revision.id}}`,
                        type: "POST",
                        data: {'product_id':productId},
                        headers: {
                            "X-CSRFToken": csrfToken
                        },
                        success: function(response) {
                        },
                        error: function () {
                        }
                    });
                    updateTotals()
                }
                 function updateTotals() {
                        let jami_som_kelish_narx_plus = 0;
                        let jami_dollar_kelish_narx_plus = 0;

                        let jami_som_kelish_narx_minus = 0;
                        let jami_dollar_kelish_narx_minus = 0;

                        let jami_plus_miqdor = 0;
                        let jami_minus_miqdor = 0;

                        let sum_miqdori = 0;
                        let som_kelish_narx_sum = 0;
                        let dollar_kelish_narx_sum = 0;
                        const allRows = document.querySelectorAll('#zero-config tbody tr');

                        allRows.forEach(row => {
                            const qty_miqor_input = parseFloat(row.querySelector('input[type="number"]').value) || 0;
                            const kelish_narx_som = parseFloat(row.querySelector('.som_kelish_narx_td').textContent) || 0;
                            const kelish_narx_dollar = parseFloat(row.querySelector('.dollar_kelish_narx_td').textContent) || 0;
                            const td_farq = parseFloat(row.querySelector('.farq_td').textContent) || 0;
                            if (td_farq > 0) {
                                jami_som_kelish_narx_plus += kelish_narx_som * td_farq
                                jami_dollar_kelish_narx_plus += kelish_narx_dollar * td_farq
                                jami_plus_miqdor+= td_farq
                            }else if ( td_farq < 0) {
                                jami_som_kelish_narx_minus += kelish_narx_som * td_farq
                                jami_dollar_kelish_narx_minus += kelish_narx_dollar * td_farq
                                jami_minus_miqdor+= td_farq
                            }
                            sum_miqdori+=qty_miqor_input
                            som_kelish_narx_sum += kelish_narx_som * qty_miqor_input
                            dollar_kelish_narx_sum += kelish_narx_dollar * qty_miqor_input

                        });
                        document.getElementById('som_kelish_narx_plus').textContent = jami_som_kelish_narx_plus.toFixed(2);
                        document.getElementById('dollar_kelish_narx_plus').textContent = jami_dollar_kelish_narx_plus.toFixed(2);

                        document.getElementById('som_kelish_narx_minus').textContent = jami_som_kelish_narx_minus.toFixed(2);
                        document.getElementById('dollar_kelish_narx_minus').textContent = jami_dollar_kelish_narx_minus.toFixed(2);

                        document.getElementById('total_plus_miqdor').textContent = jami_plus_miqdor.toFixed(2);
                        document.getElementById('total_minus_miqdor').textContent = jami_minus_miqdor.toFixed(2);


                        document.getElementById('sum_miqdor').textContent = sum_miqdori.toFixed(2);
                        document.getElementById('som_kelish_narx_sum').textContent = som_kelish_narx_sum.toFixed(2);
                        document.getElementById('dollar_kelish_narx_sum').textContent = dollar_kelish_narx_sum.toFixed(2);
                }
                function pushData(item) {
                    updateTotals()
                    const item_tr = item.closest('tr');

                    const item_product_id = item_tr.querySelector('.product_name').dataset.product_id;
                    const item_input_quantity = parseFloat(item.value) || 0;
                    const item_quantity_td = parseFloat(item_tr.querySelector('.quantity_td').textContent) || 0;
                    const item_status_td = item_tr.querySelector('.status_td');

                    const som_kelish_narx_td = item_tr.querySelector('.som_kelish_narx_td');
                    const dollar_kelish_narx_td = item_tr.querySelector('.dollar_kelish_narx_td');
                    const farq_td = item_tr.querySelector('.farq_td');

                    const som_kelish_narx = parseFloat(som_kelish_narx_td.textContent);
                    const dollar_kelish_narx = parseFloat(dollar_kelish_narx_td.textContent);

                    if (item_input_quantity > 0) {
                        let farq;
                        if (item_quantity_td < 0) {
                            farq = item_input_quantity + item_quantity_td;
                        } else {
                            farq = item_input_quantity - item_quantity_td;
                        }
                        farq_td.textContent = farq.toFixed(2);
                    } else {
                        farq_td.textContent = '';
                    }

                    let productExists = data.find(el => el.id == item_product_id);

                    if (productExists) {
                        productExists.quantity = item_input_quantity;
                    } else {
                        data.push({ id: item_product_id, quantity: item_input_quantity , 
                            old_quantity:item_quantity_td, som_arrival_price:som_kelish_narx, dollar_arrival_price:dollar_kelish_narx});
                    }

                    if (item_input_quantity === 0) {
                        item_status_td.innerHTML = '';
                    } else if (item_input_quantity === item_quantity_td) {
                        item_status_td.innerHTML = '<button class="btn btn-success"></button>';
                    } else if (item_input_quantity < item_quantity_td && item_input_quantity != 0) {
                        item_status_td.innerHTML = '<button class="btn btn-danger"></button>';
                    } else if (item_input_quantity > item_quantity_td) {
                        item_status_td.innerHTML = '<button class="btn btn-primary"></button>';
                    }

                    let jami_plus_miqdor = 0;
                    let jami_minus_miqdor = 0;
                    let jami_miqdori = 0;
                    const allRows = document.querySelectorAll('#zero-config tbody tr');
                    allRows.forEach(row => {
                        const qty_input = parseFloat(row.querySelector('input[type="number"]').value) || 0;
                        const ombor_qoldik = parseFloat(row.querySelector('.farq_td').textContent) || 0;
                        
                        if ( ombor_qoldik > 0 ) {
                            jami_plus_miqdor += ombor_qoldik;
                        } else{
                            jami_minus_miqdor += Math.abs(ombor_qoldik); 
                        }
                        jami_miqdori+=qty_input
                    });
                    document.getElementById('total_plus_miqdor').textContent = jami_plus_miqdor.toFixed(2);
                    document.getElementById('total_minus_miqdor').textContent = jami_minus_miqdor.toFixed(2);
                    document.getElementById('sum_miqdor').textContent = jami_miqdori.toFixed(2);
                    
                    updateTotals()
                    console.log(data)
                }
                function saveBack() {
                        $.ajax({
                            url: `/revision_item_add/{{revision.id}}`,
                            type: "POST",
                            data: JSON.stringify(data),
                            headers: {
                                "X-CSRFToken": csrfToken
                            },
                            success: function(response) {
                                showAlert("Ma'lumot muvaffaqiyatli saqlandi!", "success");
                                window.location.replace('/reviziya')
                            },
                            error: function () {
                                showAlert("Server bilan bog'lanishda xatolik", "danger");
                            }
                        });
                }
                const showAlert = (message, type) => {
                    const alertElement = $(`
                        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                            ${message}
                        </div>
                    `);
                    $("#alert-container").append(alertElement);
                    setTimeout(() => {
                        alertElement.fadeOut(500, function () { $(this).remove(); });
                    }, 3000);
                };
                 document.addEventListener('DOMContentLoaded', function() {
                        updateTotals();
                    });
            </script>
                
                <div class="col-xl-12 col-lg-8 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-8">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="zero-config" class="table table-striped dt-table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Maxsulot</th>
                                            <th>Miqdor</th>
                                            <th>Ombor qoldigi</th>
                                            <th>Status</th>
                                            <th>Som Kelish narxi</th>
                                            <th>Dollar Kelish narxi</th>
                                            <th>Farqi</th>
                                            <th>Ochirish</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in item %}
                                        <tr>
                                            <td class="product_name" data-product_id="{{i.product.id}}">{{i.product.name}}</td>
                                            <td><input type="number" class="form-control" min="0" placeholder="Miqdor kiriting" step="any" value="{{i.quantity|comma_to_dot }}" oninput="pushData(this)"></td>
                                            <td class="quantity_td">{{ i.product.quantity }} </td>
                                            <td class="status_td">
                                                {% if i.farqi > 0 %}
                                                <button class="btn btn-primary" ></button>
                                                {% elif 0 > i.farqi %}
                                                <button class="btn btn-danger" ></button>
                                                {% elif i.farqi == 0 %}
                                                <button class="btn btn-success" ></button>
                                                {% endif %}
                                            </td>
                                            <td class="som_kelish_narx_td">{{i.som_arrival_price }}</td>
                                            <td class="dollar_kelish_narx_td">{{i.dollar_arrival_price }}</td>
                                            <td class="farq_td">{{i.farqi}}</td>
                                            <td><button class="btn btn-danger" onclick="DelTbody(this)"><i class="fa-solid fa-trash"></i></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th ></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th ></th>
                                                <th></th>
                                            </tr>
                                            
                                        </tfoot>
                                </table>
                                <select style="width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 5px;" class="searchable" onchange="SelectProduct(this)">
                                        <option value="">Mahsulotni tanlang</option>
                                        {% for i in product %}
                                            <option value="{{ i.id }}|{{i.quantity}}|{{i.som_kelish_narx}}|{{i.dollar_kelish_narx}}" >{{ i.name }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12"><br></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        Jami Miqdor: <p style="color: green !important;" id="sum_miqdor"></p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: green !important;" id="som_kelish_narx_sum"></p>
                                    </div>
                                    <div class="col-md-2">
                                        Dollar: <p style="color: green !important;" id="dollar_kelish_narx_sum"></p>
                                    </div>

                                    <div class="col-md-2" style="border-left: 2px solid #0011ff;">
                                        Ortiqcha Miqdor: <p style="color: green !important;" id="total_plus_miqdor">
                                    </p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: green !important;" id="som_kelish_narx_plus"></p>
                                    </div>
                                    <div class="col-md-2">
                                        Dollar: <p style="color: green !important;" id="dollar_kelish_narx_plus"></p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6"></div>

                                    <div class="col-md-2" style="border-left: 2px solid #0011ff;">
                                        Kamomat Miqdor: <p style="color:red !important;" id="total_minus_miqdor">
                                       </p>
                                    </div>
                                    <div class="col-md-2">
                                        Som: <p style="color: red !important;" id="som_kelish_narx_minus"> </p>
                                    </div>
                                    <div class="col-md-2" >
                                        Dollar: <p style="color: red !important;" id="dollar_kelish_narx_minus"> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11"></div>
                <div class="col-md-2"><button class="btn btn-success" onclick="saveBack()">Yakunlash</button></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $('select.searchable').selectize({ normalize: true });
    </script>
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/dash_2.js'%}"></script>
   
    
{% endblock js %}
