{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link href="{% static 'assets/css/dashboard/dash_2.css'%}" rel="stylesheet" type="text/css" />
    <style>
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
            width: 30rem;
        }
    </style>
{% endblock css %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
                <div class="col-xl-12 col-lg-8 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-8">
                        <table id="zero-config" class="table table-striped dt-table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Maxsulot</th>
                                    <th>Miqdor</th>
                                    <th>Ombor qoldigi</th>
                                    <th>Status</th>
                                    <th>Kelish narxi</th>
                                    <th>Kelish itog</th>
                                    <th>Sotish narxi</th>
                                    <th>Sotish itog</th>
                                </tr>
                            </thead>
                            <tbody>
                                   {% for i in item %}
                                   <tr>
                                        <td class="product_name" data-product_id="{{i.product.id}}">{{i.product.name}}</td>
                                        <td>{{ i.quantity|intcomma }}</td>
                                        <td class="quantity_td">{{ i.product.quantity|intcomma }}</td>
                                        <td class="status_td"></td>
                                        <td class="kelish_narx_td">{{i.arrival_price|intcomma }}</td>
                                        <td class="kelish_itog_td">{{i.total_arrival_price|intcomma}}</td>
                                        <td class="sotish_narx_td">{{ i.selling_price|intcomma }}</td>
                                        <td class="sotish_itog_td">{{i.total_selling_price|intcomma}}</td>
                                    </tr>
                                   {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Jami</th>
                                    <th id="total_miqdor">{{ totals.quantity|intcomma}}</th>
                                    <th id="total_ombor_qoldik"></th>
                                    <th></th>
                                    <th> </th>
                                    <th id="total_kelish_itog">{{totals.arrival_price|intcomma }}</th>
                                    <th></th>
                                    <th id="total_sotish_itog">{{totals.selling_price|intcomma }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $('select.searchable').selectize({ normalize: true });
    </script>
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/dash_2.js'%}"></script>
   
    
{% endblock js %}
