{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link href="{% static 'assets/css/dashboard/dash_2.css'%}" rel="stylesheet" type="text/css" />
    
{% endblock css %}
{% block content %}
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <form action="">
                        <div class="row">
                            <div class="col-md-4"></div>
                              <div class="col-md-2">
                               <input type="date" class="form-control" name="start_date" value="{{ filters.start_date }}">
                            </div>
                            <div class="col-md-2">
                               <input type="date" class="form-control" name="end_date" value="{{ filters.end_date }}">
                            </div>
                            <div class="col-md-2">
                                <select name="filial" class="form-control">
                                    <option value=""> ------ Filial ------- </option>
                                    {% for filial in filial %}
                                        <option value="{{ filial.id }}" {% if filters.filial == filial.id|stringformat:'s' %} selected {% endif %}>{{ filial.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="submit" style="height: 2.6rem;">Filter</button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" style="height: 2.6rem;"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-12 col-lg-8 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-8">
                        <table id="zero-config" class="table table-striped dt-table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sana</th>
                                    <th>Foydalanuvchi</th>
                                    <th>Filial</th>
                                    <th>Status</th>
                                    <th>Valyuta</th>
                                    <th>Narx Turi</th>
                                    <th>Tasdiklash</th>
                                    <th>Izoh</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in revision %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td> <a href="{% url 'revision_detail' i.id%}">{{ i.date|date:'Y-m-d' }}</a></td>
                                        <td>{{ i.user_profile.username}}</td>
                                        <td>{{ i.filial.name }}</td>
                                        <td>
                                            {% if i.status == 1 %}
                                                Yangi
                                            {% else %}
                                                Tasdiqlangan
                                            {% endif %}
                                        </td>
                                        <td>{{i.valyuta.name}}</td>
                                        <td>{{i.price_type.name}}</td>
                                        <td>
                                            {% if i.status == 1 %}
                                                
                                            {% else %}
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampl{{i.id}}">
                                                Tasdiqlash
                                                </button>
                                                <div class="modal fade" id="exampl{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-body">
                                                            <h4>Haqiqatdan ham tasdiqlaysizmi</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Yoq</button>
                                                            <button type="button" class="btn btn-success"> <a href="{% url 'revison_complate' i.id %}" style="color: white !important;">Ha</a> </button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>{{i.comment}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" action="{% url 'revision_add' %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label">Sana:</label>
                    <input type="date" class="form-control" name="date" value="{{today|date:'Y-m-d'}}" required>
                </div>
                <div class="form-group">
                    <label  class="col-form-label">Foydalanuvchi:</label>
                    <select name="user_profile" class="form-control">
                        <option value="">--------------</option>
                        {% for usr in user_profile %}
                        <option value="{{usr.id}}">{{usr.username}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label  class="col-form-label">Filial:</label>
                    <select name="filial" class="form-control" required>
                        <option value="">--------------</option>
                        {% for filial in filial %}
                            <option value="{{filial.id}}">{{filial.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label  class="col-form-label">Valyuta:</label>
                    <select name="valyuta" class="form-control" required>
                        <option value="">--------------</option>
                        {% for valyuta in valyuta %}
                            <option value="{{valyuta.id}}">{{valyuta.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label  class="col-form-label">Narx Turi:</label>
                    <select name="price_type" class="form-control" required>
                        <option value="">--------------</option>
                        {% for price_type in price_type %}
                            <option value="{{price_type.id}}">{{price_type.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Izoh:</label>
                    <textarea class="form-control" name="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                <button type="submit" class="btn btn-primary">Saqlash</button>
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/dash_2.js'%}"></script>

    <script>
        $('#zero-config').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
        "<'table-responsive'tr>" +
        "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 10 
        });
    </script>
{% endblock js %}
