{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}
    <title>Product | Bordo</title>
{% endblock title %}
{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
{% endblock css %}
{% block content %}
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <form method="get">
                                <div class="col-md-4 d-flex">
                                    <input style="margin-left: 1rem;" value="{{filters.start_date}}" type="date" class="form-control" name="start_date">
                                    <input style="margin-left: 1rem;" value="{{filters.end_date}}" type="date" class="form-control" name="end_date">
                                    <button style="margin-left: 1rem;" type="submit" class="btn btn-primary">Filterlash </button>
                                </div>
                            </form>
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="">№</th>
                                            <th>Nomi</th>
                                            <th>Sana</th>
                                            <th>Som</th>
                                            <th>Sotish som</th>
                                            <th>Dollar</th>
                                            <th>Sotish dollar</th>
                                            <th>Status</th>
                                            <th>Farq dollar</th>
                                            <th>Farq som</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for recive in recive %}
                                            <tr class="qwerty" data-id="qwer{{productfilial.id}}" data-som="{{ productfilial.som }}">
                                                <td class="">{{ forloop.counter }}</td>
                                                <td><a href="{% url 'tovar_prixod_tarix_detail' recive.id %}" target="_blank" rel="noopener noreferrer">{{ recive.name }}</a></td>
                                                <th>{{ recive.date|date:'Y-m-d H:s' }}</th>
                                                <th>{{ recive.som|intcomma  }}</th>
                                                <th>{{ recive.sum_sotish_som|intcomma  }}</th>
                                                <th>{{ recive.dollar|intcomma  }}</th>
                                                <th>{{ recive.sum_sotish_dollar|intcomma  }}</th>
                                                <th>{{ recive.status }}</th>
                                                <th>{{ recive.farq_dollar|intcomma  }}</th>
                                                <th>{{ recive.farq_som|intcomma  }}</th>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th >Jami</th>
                                            <th></th>
                                            <th></th>
                                            <th>{{ summa_total.som|intcomma }}</th>
                                            <th>{{ summa_total.sotish_som|intcomma }}</th>
                                            <th>{{ summa_total.dollar|intcomma }}</th>
                                            <th> {{ summa_total.sum_sotish_dollar|intcomma }}</th>
                                            <th></th>
                                            <th> {{ summa_total.farq_dollar|intcomma }}</th>
                                            <th>{{ summa_total.farq_dollar|intcomma }} </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        let trs = $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 15
        } );

        let data = []

        var rows = trs.cell( {selected:true} ).data();

        console.log(rows.length);

        
        let input = $('.form-control[type=search]')
        input.on('keyup', function() {

            trs.rows({"search":"applied"}).every(()=>data.push(this.data()))
            
            let som = 0
            console.log();
        })
    </script>
{% endblock js %}
